/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display:block; }
audio, canvas, video { display:inline-block; *display:inline; *zoom:1; }
audio:not([controls]) { display:none; }
[hidden] { display:none; }

* { margin:0; }
html { height:100%; font-size:100%; overflow-y:scroll; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }
body { height:100%; margin:0; color:#373233; font-size:13px;line-height:20px; }
body, button, input, select, textarea { color:#373233; }
#sidebar-left .menu li a,
.quote {
	font-family: "alber-new-web", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}
#edit-submit, 
#footer-wrapper #footer .left #block-menu_block-2 ul.menu li.expanded ul.menu li.expanded a, 
#footer-wrapper #footer .left #block-menu_block-2 ul.menu li.expanded ul.menu li.leaf a, 
.learnmore-arrow, 
.tk-alber-new-web, 
button, 
h1, 
h3, 
input, 
select, 
textarea {
	font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif!important;
}
div,
p {
	font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

#withbackground {background-color:#FFF ;}

::-moz-selection { background:#df9c29; color:#fff; text-shadow:none; }
::selection { background:#df9c29; color:#fff; text-shadow:none; }

a, a:visited { color:#005696; text-decoration:none}
a.active { color:#373233; }
li a.active { color:#5f6062; }
a:hover { color:#067392; text-decoration:underline; }
a:focus { outline:thin dotted; }
a:hover, a:active { outline:0; }

h1 {
	font-size:30px;
	font-weight:normal;
	font-style:italic;
	color:#373233;
}
h1 a, h1 a:visited{
	color:#5f6062;
}
h1 a:focus,
h1 a:hover{
	color:#5f6062;
	text-decoration:underline;
}
h2, h3 {
	font-size:15px;
	font-weight:normal;
	color:#005696;
}

abbr[title] { border-bottom:1px dotted; }
b, strong { font-weight: bold; font-style:italic; color:#005696; display:block; }
blockquote { margin:1em 40px; }
dfn { font-style:italic; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
ins { background:#ff9; color:#000; text-decoration:none; }
mark { background:#ff0; color:#000; font-style:italic; font-weight:bold; }
pre, code, kbd, samp { font-family:monospace, monospace; _font-family:'courier new', monospace; font-size:1em; }
pre { white-space:pre; white-space:pre-wrap; word-wrap:break-word; }
q { quotes:none; }
q:before, q:after { content:""; content:none; }
small { font-size:85%; }
sub, sup { font-size:75%; line-height:0; position:relative; vertical-align:baseline; }
sup { top:-0.5em; }
sub { bottom:-0.25em; }
ul, ol { margin:1em 0; padding:0; }
dd { margin:0 0 0 40px; }
nav ul, nav ol { list-style:none; list-style-image:none; margin:0; padding:0; }
img { border:0; -ms-interpolation-mode:bicubic; vertical-align:middle; z-index: -1;}
svg:not(:root) { overflow:hidden; }
figure { margin:0; }

form { margin:0; }
fieldset { border:0; margin:0; padding:0; }
label { cursor:pointer; }
legend { border:0; *margin-left:-7px; padding:0; }
button, input, select, textarea { font-size:100%; margin:0; vertical-align:baseline; *vertical-align:middle; }
button, input { line-height:normal; *overflow:visible; }
table button, table input { *overflow:auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor:pointer; -webkit-appearance:button; }
input[type="checkbox"], input[type="radio"] { box-sizing:border-box; }
input[type="search"] { -webkit-appearance:textfield; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance:none; }
button::-moz-focus-inner, input::-moz-focus-inner { border:0; padding:0; }
textarea { overflow:auto; vertical-align:top; resize:vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color:#f0dddd; }
input.form-text, html.js input.form-autocomplete[autocomplete="OFF"]  {
        font-weight: normal;
        border-top: solid 1px #AAA;
        border-left: solid 1px #AAA;
        border-bottom: solid 1px #CCC;
        border-right: solid 1px #CCC;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        outline: 0;
	border:1px solid #999999;
	height:18px;
        background: transparent url(../images/bg/sprite.png) repeat-x -3px -3px;
	color:#454545;
	font-size:11px;
        padding: 1px 9px;
	width:381px;
}
input.form-text:focus, 
input.text:focus, 
input.email:focus, 
input.password:focus, 
textarea.uniform:focus {
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	border-color: #999;
        
	background-image: url(../images/bg/sprite.png);
	background-position: 0px -469px;
}
input.form-text:hover, 
input.text:hover, 
input.email:hover, 
input.password:hover, 
textarea.uniform:hover {
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
        background: transparent url(../images/bg/sprite.png) repeat-x left -441px;
}
#content .resizable-textarea textarea{
	width:383px;
	height:113px;
}
.form-textarea {
	border:1px solid #999999;
	background:#FDFDFD url(../images/bg/bg-input.jpg) repeat-x left top;
	color:#454545;
	font-size:10px;
	padding:6px 10px;
	width:381px;
}
.form-item, #edit-submitted-date-year {
	margin:5px 0;
}

#edit-submitted-date-year {
	width:100px;
	float:left;
}
form div.form-radios.error {
	background:none;
	border:none;
}
.form-item input.error, .form-item textarea.error, .form-item select.error{
	border-width:1px;
	color: red;
}
label {
	color:#005696;
	font-size:15px;
	
}
.italic {
	font-style:italic;
}
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

ul li{
	background:url("../images/btn/small-bullet.png") no-repeat scroll left 7px transparent;
	list-style:none inside none;
	margin:0;
	padding:5px 19px;
}

.block-menu_block {
	float:right;
	margin-bottom:20px;
}
#sidebar-left > .block {
	margin-bottom:27px;
}
#sidebar-left .block-menu_block {
	float: none;
}
.content h2{
	font-size:20px;
	font-style:italic;
	margin:16px 0;
}
#main-squeeze #content .node ul {
	margin: 9px 0 0;
}
#main-squeeze #content .node b,
#main-squeeze #content .node strong {
	font-weight: 400;
}
#block-menu-menu-tabmenu {
	float:right;
	margin-top:7px;
	width: 191px;
}
#block-menu_block-1 {
	margin-top:7px;
}
#block-menu-menu-tabmenu ul {
	padding:0;
}
#block-menu-menu-tabmenu ul li {
	display:block;
	float:left;
	list-style:none;
	background:none;
	margin:0;
	padding:0;
}
#block-menu-menu-tabmenu #activate-tab {
	display:block;
	width: 95px;
	height:60px;	
	overflow:hidden;
	background: url("../images/btn/activate-tab.png") no-repeat scroll 1px bottom transparent;
	text-indent:-9999px;
}
#block-menu-menu-tabmenu a#activate-tab:hover {
	background: url("../images/btn/activate-hovertab.png") no-repeat scroll 1px bottom transparent;
}
#block-menu-menu-tabmenu #call-tab {
	display:block;
	width:96px;
	height:60px;	
	overflow:hidden;
	background:url("../images/btn/request-tab.png") no-repeat scroll left bottom transparent;
	text-indent:-9999px;
}

#block-menu-menu-tabmenu a#call-tab:hover {
	background:url("../images/btn/request-hovertab.png") no-repeat scroll left bottom transparent;
}
.qtip-content {
	background:url("../images/bg/bg-mainmenu.png") repeat-x scroll left bottom #fefefe !important;
}
#main-squeeze .content a.back-link{
	margin: 5px;
	vertical-align: top;
	display: block;
}
#main-squeeze .content a.back-link span.left-arrow {
	display:inline-block;
	font-size:28px;
	font-weight:100;
	margin: -3px 0 0;
}
.view-all, .learnmore-arrow {
	background: url("../images/btn/submenu-bullets.png") no-repeat scroll right -85px transparent;
	color: #005696;
	display: block;
	padding: 2px 20px;
	text-align: right;
	line-height: 16px;
}

.menu-minipanels {
	width:917px;
}

.menu-minipanels .panel-flexible { 
	padding:13px 0;
}

.menu-minipanels .panel-pane {
	float: left;
	margin-right: 22px;
	width: 158px;
}
.menu-minipanels .panel-pane .pane-content {
	line-height:16px;
}
.menu-minipanels .panel-pane.pane-menu-block-8 {
	height:150px;
	width: 344px;	
}
.menu-minipanels .panel-pane.pane-menu-block-8 ul.menu li {
	float:left;
	width: 134px;
}
.menu-minipanels .panel-pane p {
	color:#5f6062;
}
.menu-minipanels .menu-name-primary-links ul.menu li a {
	font-size:13px;
}

.menu-minipanels a:hover {
	text-decoration: underline;
	color: #067392;
}

.menu-minipanels ul {
	padding:0;
}

.menu-minipanels ul li {
	color:#5f6062;	
	font-size: 12px;
	padding: 2px 19px;
	background-position-y: 2px;
}
.menu-minipanels .menu-name-primary-links ul.menu li {
	padding:5px 19px;
}

.menu-minipanels h2 {
	font-size:16px;
	color:#5f6062;	
	margin-bottom: 10px;
}

.menu-minipanels .pane-menu-block-4, .menu-minipanels .pane-menu-block-6, .menu-minipanels .pane-menu-block-7, .menu-minipanels .pane-menu-block-8, .menu-minipanels .pane-block-9, .menu-minipanels .pane-block-26 {
	border-right: 1px solid #dfdfdf;
	height: 179px;
}
.menu-minipanels .pane-menu-block-4, .menu-minipanels .pane-menu-block-6 {
	width: 196px;
}
.menu-minipanels .pane-block-9, .menu-minipanels .pane-block-26 {
	width: 305px;
}
.menu-minipanels .panel-pane ul.schedule {
	height:125px;
}
.menu-minipanels .panel-pane ul.schedule li {
	background:none;
	list-style-type: disc;
	padding:2px;
}
.menu-minipanels .pane-menu-block-7 {
	width: 164px;
}
.menu-minipanels .pane-content p {
	font-size:12px;
	font-style:italic;
}
.menu-minipanels .pane-content p:first-child {
	margin-bottom:9px;
}
.menu-minipanels .pane-content p a {
	font-style:normal;
	margin-top: 12px;
}
.menu li a.active {
    color: #005696;
}
.sidebar .menu li a.active-trail,
.sidebar .menu li a.active{
    color: #5f6062;
}
.sidebar .menu li a.active-trail:hover,
.sidebar .menu li a.active:hover {
	text-decoration:none;
}
.menu-minipanels .pane-block-9 .pane-content p a, .menu-minipanels .pane-block-26 .pane-content p a {
    margin-right: 20px;
}

.sharebtn {
	background:url("../images/btn/share-btn.png") no-repeat scroll left 2px transparent;
	display:block;
	height:15px;
	margin-top:2px;
	overflow:hidden;
	width:46px;
}
.at300bs {
	background:none !important;
}
div.messages.error {
	margin: 0 26px 39px 0;
}
/* ==|== Select styles ======================================== */
.webform-container-inline div, .webform-container-inline div.form-item {
	display:block;
}

.jquery_dropdown_container,
.selector span{
  width:auto;
  position:relative;
}
div.jquery_dropdown_header  {
	background:url("../images/bg/bg-select.jpg") no-repeat scroll right top transparent;
	background-position-x:98%;
	border:1px solid #999999;
	color:#454545;
	font-size:10px;
	font-weight:normal;
	height:18px;
	overflow:hidden;
	padding:1px 11px;
	width:152px;
	z-index:500 !important;;
}

#edit-submitted-calltime-hour-wrapper,
#edit-submitted-calltime-hour-wrapper .jquery_dropdown_container,
#edit-submitted-calltime-hour-wrapper ul.jquery_dropdown_list,
#edit-submitted-calltime-minute-wrapper,
#edit-submitted-calltime-minute-wrapper .jquery_dropdown_container,
#edit-submitted-calltime-minute-wrapper ul.jquery_dropdown_list,
#edit-submitted-date-month-wrapper,
#edit-submitted-date-month-wrapper .jquery_dropdown_container,
#edit-submitted-date-month-wrapper ul.jquery_dropdown_list,
#edit-submitted-date-day-wrapper,
#edit-submitted-date-day-wrapper .jquery_dropdown_container,
#edit-submitted-date-day-wrapper ul.jquery_dropdown_list{
	float:left;
	width:120px;
	margin-right:40px;
}
#edit-submitted-calltime-hour-wrapper .selector span,
#edit-submitted-calltime-minute-wrapper .selector span,
#edit-submitted-date-month-wrapper .selector span,
#edit-submitted-date-day-wrapper .selector span,
#edit-submitted-phone-type-wrapper .selector span{
	float:left;
	width:107px;
	margin-right:40px;
}
#edit-submitted-calltime-wrapper .form-radios {
	float:left;
	margin:5px 0;
	width:125px;
}
#edit-submitted-calltime-wrapper label.option {
	float:left;
}
#edit-submitted-date-wrapper, 
#webform-component-phone {
	clear:left;
}
#webform-client-form-3 #edit-submitted-date-wrapper {
	margin-top: 8px;
}
#webform-client-form-3 #edit-submitted-date-wrapper .ui-datepicker-trigger{
	margin-top: -5px;
	vertical-align: top;
}
#webform-client-form-3 #edit-submitted-date-wrapper .validated{
	margin: 0px;
}
#edit-actions{
	margin:27px 66px 0 0;
}
#webform-client-form-1 #edit-actions,
#webform-client-form-3 #edit-actions,
#webform-client-form-97 #edit-actions {
	width: 431px;
}
#webform-client-form-1 #edit-actions #edit-submit,
#webform-client-form-3 #edit-actions #edit-submit,
#webform-client-form-97 #edit-actions #edit-submit {
	background:url("../images/btn/cta-btn-request.png") no-repeat scroll left top transparent;
	width:128px;
	float:right;
}
#webform-client-form-3 #edit-actions #edit-submit{
	margin-top: 30px;
}
#edit-submitted-calltime-hour-wrapper .jquery_dropdown_header,
#edit-submitted-calltime-minute-wrapper .jquery_dropdown_header,
#edit-submitted-date-month-wrapper .jquery_dropdown_header,
#edit-submitted-date-day-wrapper .jquery_dropdown_header,
#edit-submitted-phone-type-wrapper .jquery_dropdown_header{
 	background:url("../images/bg/bg-select.jpg") no-repeat scroll right top transparent;
	border:1px solid #999999;
	font-size:10px;
	font-weight:normal;
	height:18px;
	overflow:hidden;
	padding:1px 11px;
	width:120px;
}
ul.jquery_dropdown_list {
  border:0;
  background:#fdfdfd;
  left:0;
  margin:0;
  padding:0;
  position:absolute;
  top:22px;
  width:152px;
  z-index:1000 !important;;
}

ul.jquery_dropdown_list li {
  background:none;
  border-bottom:0;
  list-style:none outside none;
  margin:3px 11px;;
 padding:0;
}
#webform-client-form-3 #webform-component-time,
#webform-client-form-3 #webform-component-time-of-day,
#webform-client-form-3 #webform-component-date,
#webform-client-form-3 #webform-component-phone-1,
#webform-client-form-3 #webform-component-phone-2,
#webform-client-form-3 #webform-component-phone-3,
#webform-client-form-3 #webform-component-phone-type{
	display:inline-block;
	float:left;
	width: auto;
}
#webform-component-time .selector span{
	width: 36px;
}
#webform-component-time,
#webform-component-time-of-day{
	margin-right:12px;
}
#webform-component-time .selector {
	margin-left:22px;
	width: 60px;
}
#webform-component-time-of-day .selector {
	width: 42px;
}
#webform-component-phone-type .selector {
	width: 61px;
}
#webform-component-time-of-day .jquery_dropdown_container,
#webform-component-time-of-day .jquery_dropdown_container .jquery_dropdown_header{
	width:31px;
}
#uniform-edit-submitted-time{
	display:inline-block;
}
#webform-component-time-of-day .selector span{
	width:18px;
}
#webform-client-form-3 #webform-component-date{
	margin-top: 17px;
	width: 256px;
}
#webform-client-form-3 #webform-component-date input{
	width: 84px;
}
#webform-client-form-3 #webform-component-phone-1 input,
#webform-client-form-3 #webform-component-phone-2 input,
#webform-client-form-3 #webform-component-phone-3 input {
	width:31px;
	margin: 0 5px 0 14px;
}
#webform-client-form-3 #webform-component-phone-type {
	margin: 0 5px 0 11px;
}
#webform-component-phone-1 {
	clear:both;
}
#webform-component-phone-1 input {
	margin-left:16px;
}
#webform-component-phone-3 input{
	margin-right:4px;
}
#webform-component-phone-2::before,
#webform-component-phone-3::before{
	content: "-";
	float:left;
	height:0px;
	padding-top:5px;
}

#webform-component-phone-type .jquery_dropdown_container,
#webform-component-phone-type .jquery_dropdown_container .jquery_dropdown_header{
	width:50px;
}
#webform-component-phone-type .selector span{
	width:37px;
}
#webform-client-form-3 #webform-component-phone-1,
#webform-client-form-3 #webform-component-phone-2,
#webform-client-form-3 #webform-component-phone-3{
	margin-top: 11px;
	line-height: 21px;
}
#webform-client-form-3 #webform-component-phone-type{
	margin-top: 14px;
	width: 193px;
}
#edit-submitted-phone-type-wrapper{
	float:none;
	margin:0;
}
#webform-component-email-address {
	margin-top:12px;
}
#webform-client-form-3 #webform-component-time,
#webform-client-form-3 #webform-component-time-of-day,
#webform-client-form-3 #webform-component-date{
	margin-top:25px;
}
#webform-client-form-3 #webform-component-time-of-day {
	margin-top:26px;
}
#webform-component-last-name,
#webform-component-comments{
	margin-top:25px;
}
.ui-datepicker-trigger{
	border:none;
	background-color:transparent;
	display:inline-block;
	margin-left:8px;
}
#node-form .form-item,
#edit-submitted-date-year{
	width:49%;
	float:left;
}
#node-form .form-item .form-item {
	width: auto;
	margin: 0;
}
#node-form > div > div.node-form {
/*	padding-left:130px;*/
}
.front #node-form > div > div.node-form {
	padding-left:0;
}
#node-form #edit-field-loan-socialnumber-0-value-wrapper{
	clear:left;
}
#node-form > div{
	width:960px;
}
#node-form .form-item .text,
#node-form .form-item .jquery_dropdown_container,
#node-form .form-item .jquery_dropdown_header{
	width:243px;
}
#node-form .form-item .selector {
	width: 254px;
}
#node-form .form-item .selector span{
	width: 230px;
}
div.loan-activation-complete, 
#node-form.loan-activation > div {
	margin-top:-19px;
	padding-top:60px;
}
div.loan-activation-complete h2 {
	font-style:italic;
	margin-top: 19px;
}
div.loan-activation-complete p {
	margin-top:6px;
	width:850px;
}
div.loan-activation-complete div, 
#node-form.loan-activation > div > div.node-form {
	background: url('../images/border/divider.png') no-repeat top center transparent;
	min-height:1px;
}
#node-form.loan-activation-step-1 > div {
	background: url('../images/progress/progress_step1.png') no-repeat top center transparent;
}
#node-form.loan-activation-step-2 > div {
	background: url('../images/progress/progress_step2.png') no-repeat top center transparent;
}
#node-form.loan-activation-step-3 > div {
	background: url('../images/progress/progress_step3.png') no-repeat top center transparent;
}
div.loan-activation-complete, 
#node-form.loan-activation-step-4 > div {
	background: url('../images/progress/progress_step4.png') no-repeat top center transparent;
}
#node-form.affiliate-partnership .form-item .text,
#node-form.affiliate-partnership .form-item .jquery_dropdown_container,
#node-form.affiliate-partnership .form-item .jquery_dropdown_header,
#node-form.loan-activation .form-item .text,
#node-form.loan-activation .form-item .jquery_dropdown_container,
#node-form.loan-activation .form-item .jquery_dropdown_header{
	width:400px;
}
#node-form.loan-activation fieldset {
	float:left;
	width: 480px;
}
#node-form.loan-activation legend {
	display:none;
}
#node-form.loan-activation fieldset .selector {
	display: block;
	width: 411px;
}
#node-form.loan-activation fieldset > .form-item {
	width: 440px;
	padding-left: 40px;
}
#node-form.affiliate-partnership .form-item,
#node-form.loan-activation .form-item,
#node-form.solution-finder .form-item {
	width:447px;
}
#node-form.solution-finder .form-item .selector {
	width: 385px;
}
#node-form.solution-finder div.selector span {
	width: 361px;
}
#node-form.solution-finder div.selector select {
	width: 393px;
}
#block-solutions_finder-solutions_finder #node-form.solution-finder .form-item .selector {
	width: 252px;
}
#block-solutions_finder-solutions_finder #node-form.solution-finder div.selector span {
	width: 228px;
}
#block-solutions_finder-solutions_finder #node-form.solution-finder div.selector select {
	width: 260px;
}
#node-form.affiliate-partnership div.selector span,
#node-form.loan-activation div.selector span {
	width: 387px;
}
#node-form.affiliate-partnership div.selector select,
#node-form.loan-activation div.selector select {
	width: 422px;
}
#node-form.affiliate-partnership .form-item.right,
#node-form.loan-activation .form-item.right {
	float: right;
}
#node-form.affiliate-partnership .resizable-textarea textarea,
#node-form.loan-activation .resizable-textarea textarea {
	width: 398px;
}
#node-form.loan-activation #edit-field-loan-referral-0-value-wrapper {
	display:none;
}
#node-form.loan-activation fieldset .validated {
	margin: -22px -15px 0 0;
}
.not-logged-in #node-form.loan-activation #edit-preview-changes, 
.not-logged-in #node-form.loan-activation #edit-delete {
	display:none;
}
#node-form #geotrust-logo {
	float:right;
	margin: -74px 10px 0 0;
}
#node-form .form-item{
	margin:12px 0;
}
#node-form .form-item label{
	font-weight:normal;
}
#node-form .form-item .form-checkboxes label.option{
	color:#4c4c4d;
	font-size: 12px;
}
#node-form #edit-field-loan-licensestate-value-wrapper label{
	width:100%;
}

#node-1,
#node-3,
#node-97 {
	width: 540px;
}
#webform-client-form-1 > div,
#webform-client-form-3 > div,
#webform-client-form-97 > div {
	padding-top:15px;
}
#webform-client-form-1 label,
#webform-client-form-3 label,
#webform-client-form-97 label{
	font-weight: normal;
}
#webform-client-form-1 #webform-component-first-name,
#webform-client-form-3 #webform-component-first-name,
#webform-client-form-97 #webform-component-first-name {
	margin-top:5px;
}
#webform-component-last-name, #webform-component-comments{
	margin-top:13px;
}
#webform-client-form-1 .webform-component, 
#webform-client-form-3 .webform-component, 
#webform-client-form-97 .webform-component, 
#webform-client-form-97 .webform-component-newsletter_email{
	margin-top: 20px;
	width: 475px;
}
#webform-client-form-97 #webform-component-divider-1,
#webform-client-form-97 #webform-component-divider-2 {
	margin-left:-55px;
	margin-top: 9px;
	min-height:1px;
	width: 960px;
	display: none;
}
#webform-client-form-97 #webform-component-divider-1 p {
	color: #5f6052;
	margin-left: 360px;
	position:absolute;
	top:158px;
}
#webform-client-form-97 #webform-component-divider-2 {
	height:65px;
}
#webform-client-form-1 .webform-component input, 
#webform-client-form-3 .webform-component input, 
#webform-client-form-97 .webform-component input, 
#webform-client-form-97 .webform-component-newsletter_email input{
	display: inline-block;
	width:409px;
}
#webform-client-form-97 #webform-component-newsletteremail > .form-item .form-item{
	margin:0;
}
#webform-client-form-1 .validated,
#webform-client-form-3 .validated,
#webform-client-form-97 .validated {
	margin: -1px 0 0 0;
}
#webform-client-form-1 .resizable-textarea + .validated,
#webform-client-form-3 .resizable-textarea + .validated,
#webform-client-form-97 .resizable-textarea + .validated {
	margin: -138px 0 0 0;
}
#webform-client-form-97 #webform-component-your-specialty .selector {
	width: 420px;
	display: inline-block;
}
#webform-client-form-97 #webform-component-your-specialty .selector span{
	width: 396px;
}
#webform-client-form-97 #webform-component-your-specialty .selector select{
	width: 428px;
}
#webform-client-form-97 #webform-component-your-specialty .validated {
	margin-top: 3px;
}

/*----- Datepicker Calendar Styles -----*/
#ui-datepicker-div{
	background-color:#fff;
	border-top:2px solid #fecf06;
	border-left:1px solid #dce0e2;
	border-bottom:1px solid #dce0e2;
	border-right:1px solid #dce0e2;
	font-size:11px;
}
#ui-datepicker-div .ui-datepicker-prev,
#ui-datepicker-div .ui-datepicker-next{
	text-indent:-9999px;
	display:inline-block;
	width:24px;
	height:22px;
	cursor:pointer;
}
#ui-datepicker-div .ui-datepicker-prev{
	background:transparent url('../images/btn/ui-datepicker-prev.jpg') no-repeat top left;
}
#ui-datepicker-div .ui-datepicker-next{
	background:transparent url('../images/btn/ui-datepicker-next.jpg') no-repeat top left;
}
#ui-datepicker-div .ui-datepicker-title{
	font-size:13px;
	color:#005696;
}
#ui-datepicker-div .ui-datepicker-calendar thead tr{
	border-bottom:none;
}
#ui-datepicker-div .ui-datepicker-calendar tbody{
	border-top:none;
}
#ui-datepicker-div .ui-datepicker-calendar th{
	color:#005696;
	border-bottom:none;
}
#ui-datepicker-div .ui-datepicker-calendar td{
	color:#5f6062;
	text-align:center;
}
#ui-datepicker-div .ui-datepicker-calendar td span{
	text-align:center;
}
#ui-datepicker-div .ui-datepicker-calendar td a{
	text-align:center;
	color:#005696;
}
#ui-datepicker-div .ui-datepicker-calendar td.ui-datepicker-today a{
	color:#b3d33d;
}


/* ==|== primary styles =====================================================
   Author:Webcommune
   ========================================================================== */
   
#page .cta-btn, 
#footer .cta-btn, 
#edit-submit, 
#edit-preview, 
#edit-previous {
	border:none;
	display: block;
	height: 22px;
	width: 88px;
	font-size:10px;
	font-weight:bold;
	color:#fff;
	margin:10px 0;
	overflow:visible;
	padding:0 10px 0 0;
	text-align:center;
}
#edit-preview,
.cta-btn{ 
	background: url("../images/btn/cta-btn.png") no-repeat scroll left top transparent;
}
.sidebar-left .view-testimonials .cta-btn,
a.button-gray{ 
	background: url("../images/btn/cta-btn-gray.png") no-repeat scroll left top transparent;
}
.node-type-customer-testimonial #page .button-gray{
	margin:20px 0 0 20px;
}
#edit-previous {
	background: url("../images/btn/submit-btn.png") no-repeat scroll left top transparent;
	padding:0;
	width:96px;
}
#edit-preview,
#edit-submit {
	width: 98px;
}

#views-exposed-form-search-page-1 #edit-submit-search,
.view-id-media_newsroom #edit-submit-media-newsroom,
#views-exposed-form-resources-page-1 #edit-submit-resources,
#views-exposed-form-resources-page-3 #edit-submit-resources{
	border:none;
	display:block;
	margin: 6px 0 6px -33px;
	background: url("../images/btn/submenu-bullets.png") no-repeat scroll 6px -84px transparent;
	width: 20px;
	padding: 0;
	height: 22px;
	text-indent: 100%;
	overflow: hidden;
}
#edit-preview,
#node-form #edit-submit{
	clear:left;
	margin-left: 346px;
}
#edit-preview, 
#edit-previous,
#node-form.affiliate-partnership #edit-submit, 
#node-form.loan-activation #edit-submit {
	float: right;
	margin:25px 19px 10px 0;
}
form.loan-activation#node-form #edit-submit {
	float:right;
	margin-left:0px;
}
a.cta-btn:hover, 
a.cta-btn:visited {
	color:#fff;
	text-decoration:none;
}
#page {
	width:960px;
	margin:0 auto;	
/*
	min-height:100%;
	height:auto !important;
	height:100%;
*/
	margin:0 auto;
}
.date-display-single {
	display: inline-block;
	font-style:italic;
	margin-bottom:22px;
}
#withbackground #page-wrapper {
    background: #fff url(../images/bg/bg.jpg) no-repeat center top;
}
#page #top {
	background-color:#FFF;
	height:17px;
    padding:1px;
}
#page #top #topmenu {
	float:right;
	width: 992px;
}
#page #top #topmenu #block-menu-menu-meta {
	font-size:11px;
	width: 445px;
	float:left;
}
#page #top #topmenu #block-menu-menu-meta ul.menu {
	text-align:right;
}
#page #top #topmenu #block-menu-menu-meta ul.menu li{
	float:right;
	list-style:none outside none;
	margin:0 10px 0 0.5em;
	padding:0 0.5em 0 0;
	background:none;
}
#page #top #topmenu #block-menu-menu-meta ul.menu li a {
	color:#5f6062;
	text-decoration: none;
}

#page #top #topmenu #block-block-1 {
	float:left;
	width: 211px;	
}
#page #top #topmenu .sharebtn {
	margin-right: 41px;
}
.addthis_button_facebook_like.at300b {
	margin-left:12px;
}
#page #top #topmenu #block-block-29 {
	float:left;
}
#page #header {
	background:url("../images/bg/bg-menu.png") repeat-x scroll left bottom transparent;
	height:71px;
}
#page #header div#logo {
	float:left;
	margin: 6px 0 0 12px;
}
#page #top #topmenu .block-topmenu-divider {
	background:url("../images/border/topmenu-divider.png") no-repeat top left transparent;
	float:left;
	height:19px;
	margin:-1px 21px 0 8px;
	width:2px;
}
#page #header #block-menu_block-1 ul {
	margin:0;
	padding:0;
}
#page #header #block-menu_block-1 ul li {
	background: none;
	float:left;
	height:60px;
	list-style:none outside none;
	margin:0;
	padding:0;
}
#page #header #block-menu_block-1 ul li.last {
	background: transparent url(../images/bg/bg-menu-last.png) no-repeat right -14px;
}
#page #header #block-menu_block-1 ul li a {
	background:url("../images/border/menu-divider.png") no-repeat scroll left bottom transparent;
}
#page #header #block-menu_block-1 ul li a:hover {
	background: transparent url(../images/btn/main-hover.png) repeat-x left bottom;
}
#page #header #block-menu_block-1 ul li a{
	display:block;
	float:left;
	font-size:14px;
	font-weight:400;
	color:#4c4c4d;
	margin-top:-5px;
	padding: 23px 16px;	
	text-decoration: none;
}
#page #container {
	float:left;
	padding-bottom:60px;
	width:100%;
	margin:0;
}

#page #container #titlebar {
	background:transparent url(../images/bg/softgrad.png) no-repeat center bottom;
	margin:25px 0;
	width:100%;
	float: left;
	line-height: normal;
	padding-bottom: 22px;
	position: relative;
	
}
#page #container #titlebar h1 {
	width:700px;
}
#page #container #toolbar {
	position: absolute;
	bottom: 22px;
	right: 0;
	width:205px;
	margin-top:5px;
}

#page #container #main {
	clear:left;
}
#main {
	color:#575757;
	line-height:22px;
}

#toolbar2 {
	float:right;
}
#page #container .block-toolbar ul li {
	float:left;
	list-style:none;
	background:none;
	padding:0 5px;
}

#page #container .block-toolbar .printbtn {
	width:52px;
	height:18px;
	display:block;
	float:left;
	overflow:hidden;
	text-indent:-9999px; 
	background:transparent url("../images/ico/print-icon.png") no-repeat left top;
}

.node-type-customer-testimonial #page #container .block-toolbar .printbtn {
    visibility: hidden;
}
#page #container .block-toolbar .mailbtn {
	width:54px;
	height:16px;
	display:block;
	float:left;
	overflow:hidden;
	text-indent:-9999px; 
	background:transparent url("../images/ico/mail-icon.png") no-repeat left top;
}
#page #container .block-toolbar .sharebtn {
	background:url("../images/ico/share-icon.png") no-repeat scroll left top transparent;
	display:block;
	height:15px;
	margin-top:0;
	overflow:hidden;
	width:48px;
}

#page #container #sidebar-left {
	float:left;
	width:258px;
	margin-right:32px;
}
#page #container #main-squeeze.column {
	float:left;
	width:670px;
}
.sidebar-left #page #container #main-squeeze.column {
	width:670px;
}
.sidebar-right #page #container #main-squeeze.column {
	width:610px;
}
#page #container #main-squeeze.column .view-filters{
	background:transparent url(../images/border/small_softgrad.png) no-repeat center bottom;
	padding-bottom:20px;
	margin-bottom:20px;
}
.view-filters .item-list ul.pager {
	margin:11px 0 0 -2px;
}
.view-filters .item-list ul.pager li.first {
	margin-left:0;
}
#page #container #sidebar-right {
	float: right;
	width: 350px;
}
#sidebar-right h2 {
	color:#373233;
}
#page #container #sidebar-right #block-block-4, 
#page #container #sidebar-right #block-block-5 {
	margin-right:9px;
	margin-top:88px;
}
#page #container #sidebar-right #block-block-5 {
	margin-top:29px;
}
#page #container #sidebar-right #block-block-4 ul, 
#page #container #sidebar-right #block-block-5 ul {
	padding-left:0;
}
#page #container #sidebar-right #block-block-4 ul li, 
#page #container #sidebar-right #block-block-5 ul li {
	margin-top:7px;
	margin-bottom:7px;
}
#page #container #sidebar-right p a.learnmore-arrow {
	margin-right: 30px;
}
#footer-wrapper {
	clear:both;
	height:250px;
	background:#FFF url(../images/bg/footer-grad.png) no-repeat center top;
}
.push {
	clear:both;
	height:350px;
}
#footer-wrapper #footer {
	width:960px;
	margin:0 auto;
	padding:50px 0;
}
#footer-wrapper #footer .left {
	float:left;
	width:540px;
}
#footer-wrapper #footer .left > .block{
	float:left;
}
#footer-wrapper #footer .left #block-menu_block-2 ul.menu {
	padding:0;
	-webkit-padding-start:0;
}
#footer-wrapper #footer .left #block-menu_block-2 ul.menu li {
	list-style:none;
	margin:0;
	background:none;
}
#footer-wrapper #footer .left #block-menu_block-2 ul.menu ul.menu li {
	line-height:15px;
}

#footer-wrapper #footer .left #block-menu_block-2 ul.menu li.expanded {
	float:left;
	list-style:none;
	padding:0;
	margin:0 25px 0 0;
	background:none;
}
#footer-wrapper #footer .left #block-menu_block-2 ul.menu li.expanded a {
	font-size:14px;
	font-weight:bold;
	color:#898a8c;
	text-decoration: none;
}
#footer-wrapper #footer .left #block-menu_block-2 ul.menu li.expanded ul.menu li.expanded a  {
	font-size:11px;	
	font-weight:normal;
}
#footer-wrapper #footer .left #block-menu_block-2 ul.menu li.expanded ul.menu li.leaf a {
	font-size:11px;	
	font-weight:normal;
	color:#8a8a8c;
}
#footer-wrapper #footer .middle {
	float:left;
	width:180px;
}
#footer-wrapper #footer .middle #block-menu-menu-footeraction ul.menu li {
	margin:0;
	list-style:none;
	width:137px;
	height:34px;
	margin-bottom:10px;
}

#footer .menu .menu-mlid-614 .menu .menu-mlid-626,
#footer .menu .menu-mlid-614 .menu .menu-mlid-778,
#footer .menu .menu-mlid-614 .menu .menu-mlid-776,
#footer .menu .menu-mlid-614 .menu .menu-mlid-777{
	display:none;
}

#bottom{
	width:960px;
	margin:0 auto;
}
#bottom .above-legal-links,
#bottom .above-legal-links a, 
#bottom .legal,
#bottom .legal a {
	clear:both;
	float:none;
	font-size:11px;
	color:#454545;
}
#bottom .above-legal-links,
#bottom .above-legal-links a{ 
	color:#8a8a8c;
}
#bottom .above-legal-links ul,
#bottom .legal ul{
	float:left;
	padding:0;
}
#bottom .above-legal-links ul li,
#bottom .legal ul li{
	line-height:9px;
	list-style:none;
	background:none;
	padding:0 10px;
	border-right:1px solid #454545;
	float:left;
	margin-top:11px;
}
#bottom .above-legal-links ul li{
	border-right:1px solid #8a8a8c;
}
#bottom .above-legal-links ul li.first,
#bottom .legal ul li.first{
	padding-left:0;
}
#bottom .above-legal-links ul li.last,
#bottom .legal ul li.last{
	border:none;
}
#bottom .legal .mindcomet{
	float:right;
	display:block;
	text-indent:-9999px;
	width:127px;
	height:15px;
	background:transparent url('../images/bg/mindcomet.png') no-repeat top left;
}

.content a {
	color: #005696;
}

.content a:hover {
	color:#067392;
}
#sidebar-left .menu-name-primary-links ul.menu li {
	background:url("../images/btn/arrow-tab.png") no-repeat scroll left 5px transparent;
	list-style:none inside none;
	padding:5px 0 5px 35px;
}

.menu-name-primary-links ul.menu li {
	background:url("../images/btn/small-bullet.png") no-repeat scroll left 7px transparent;
	list-style:none inside none;
	margin:0;
	padding:5px 35px;
}
.menu-minipanels .panel-pane .pane-content ul.menu {
	line-height:22px;
}
.menu-name-primary-links ul.menu li ul  {
	padding:0;
	margin:0;
}

.menu-name-primary-links ul.menu li ul li {
	background:url("../images/btn/submenu-bullets.png") no-repeat scroll left 7px transparent;
	list-style:none inside none;
	padding:2px 15px;
	margin:0;
}

#block-menu_block-2 .menu-name-primary-links ul.menu li ul li {
	padding:0;
	margin:0;
}

.menu-name-primary-links ul.menu li a {
	font-size:14px;
}
#support-btn, #activateloan-btn, #requestcall-btn {
	display:block;
	width:137px;
	height:34px;
	overflow:hidden;
	text-indent:-9999px;
}
#support-btn {
	background:transparent url(../images/btn/needsupport-btn.png) no-repeat left top;	
}
#activateloan-btn {
	background:transparent url(../images/btn/activateloan-btn.png) no-repeat left top;
}
#requestcall-btn {
	background:transparent url(../images/btn/requestcall-btn.png) no-repeat left top;	
}
#footer-wrapper #footer .right {
	float:left;
	width:240px;
}
#footer-wrapper #footer .right #block-block-3 img {
	margin-right:10px;
}
#footer-wrapper #footer p{
	color:#5f6062;
	font-size:11px;
}
#footer-wrapper #footer #block-block-2 h2 {
	font-weight:bold;
	font-size:14px;
	background:transparent url(../images/ico/signup-icon.png) no-repeat left top;
	padding:0 0 0 30px;
	margin-top:0;
	color:#5f6062;
}
#footer-wrapper #bottom {
	width:960px;
	margin:0 auto;	
}
/* ==|== Form styles ======================================== */
#webform-component-comments {
	clear:left;	
}

/* ==|== Benefit & Advantages styles ======================================== */
.benefit {
	clear:left;
}
.benefit .left {
	float:left;
	width:65px;
	margin-right:15px;
}
.benefit .right {
	float:left;
	width:520px;
}
.benefit .right h2 {
	margin:0 0 9px;
}
.benefit .right h2 a {
	font-size:20px;
}
.benefit .right p a {
	font-size:13px;
}
/* ==|== FAQ styles ======================================== */
.faq-question-answer{
	background:transparent url(../images/bg/bg-question.png) repeat-y top left;
	border-left:1px solid #fecf06;
}
.faq-question.faq-dt-hide-answer {
	background:transparent url('../images/bg/bg-question-wrapper.png') no-repeat bottom left;
	width:620px;
	font-size:15px;
	padding:22px 0 22px 20px;
	color:#4c4c4d;
	float:left;
}
.faq-question a {
	display:block;
}
.faq-question a:focus {
	outline:none;	
}
.faq-question-answer.faq-viewed{
	background:transparent url('../images/bg/bg-answer.png') repeat-y top left;
	border-left:1px solid #fecf06;
}
.faq-question.faq-dt-hide-answer.faq-qa-visible{
	background:none;
}
.faq-question.faq-qa-visible {
	width:620px;
	padding-top:0;
	font-size:15px;
	color:#005696;
	float:left;	
}

.faq-question.faq-qa-visible a {
	display:block;
	margin-top:20px;
	color:#005696;	
}

.faq-answer {
	float:left;
	background:transparent url('../images/bg/bg-question-wrapper.png') no-repeat bottom left;
	width:620px;
	padding:0 0 30px 20px;
}

.faq-answer .content {
	background:none !important;
	border:none;	
}

/* ==|== Media Room styles ======================================== */
.view-media-newsroom h2 {
	font-size:15px;
	color:#5f6062;
	font-style:italic;
}
.view-media-newsroom h2 a{
	font-size:15px;
	font-style:normal;
}
.views-row h2 {
	margin-bottom:7px;
}
.views-row h2 span.created {
	font-size:13px;
}
#quicktabs-home_block .hometab div.home-content-body,
.views-row .field-content p {
	color:#373233;
	line-height:25px;
	font-size: 13px;
}
.views-exposed-form .views-exposed-widget label{
	display:none;
}
#uniform-edit-term-node-tid-depth-media-room {
	margin-top: 1px;
}
.view-media-newsroom.view-id-media_newsroom.view-display-id-page_1 .views-row,
.view-media-newsroom.view-id-media_newsroom.view-display-id-page_2 .views-row,
.view-media-newsroom.view-id-media_newsroom.view-display-id-page_5 .views-row,
.view.view-resources .views-row {
	float:left;
	background:transparent url(../images/border/news-divider.png) no-repeat center bottom;
	padding-bottom:30px;
	margin-bottom:30px;
	width:100%;
}
.view.view-resources.view-display-id-page_3 .view-content {
	background:transparent url(../images/border/news-divider.png) no-repeat center bottom;
}
.view.view-resources.view-display-id-page_3 .views-row-odd {
	margin-right: 69px;
}
.view.view-resources.view-display-id-page_3 .views-row {
	background: none;
	width: auto;
	margin-bottom: 20px;
}
/* ==|== Tips & Resources styles ======================================== */
.view.view-resources h2 {
	font-size:15px;
	color:#5f6062;
	font-style:italic;
	margin-bottom:15px;
}
.view.view-resources.view-display-id-page_3 .views-row h2{
	color: #005696;
	font-size:13px;
	margin: 7px 0 0;
}
.view.view-resources h2 a{
	font-size:15px;
	font-style:normal;
	color:#005696;
}
.view.view-resources .views-row-last {
	background:none;
}

.view.view-resources.view-display-id-page_3 .views-row p{
	color: #5f6062;
	font-family:"alber-new-web",sans-serif;
	font-size:12px;
	font-style:italic;
	line-height: 17px;
}
.view.view-resources.view-display-id-page_3 .views-row .video-thumb-play {
	background: transparent url('../images/btn/video_thumb_play.png') no-repeat center center;
	width: 300px;
	height: 225px;
	margin: -225px 0 0;
	position: relative;
}
.view.view-resources.view-display-id-page_3 .views-row .field-content{
	line-height: 17px;
}
/* ==|== Executive Bios styles ======================================== */
.view.view-executive-bios.view-id-executive_bios.view-display-id-page_1.view-dom-id-1{
	float:left;
	clear:both;
	background-color:#fefeff;
}
.view.view-executive-bios .views-row{
	display:inline-block;
	vertical-align:top;
	width:112px;
	margin:24px 19px;
}

.view.view-executive-bios .views-row .views-field-field-team-image-fid {
	background:url("../images/bg/bg-bio-img.png") no-repeat scroll left top transparent;
	height:103px;
	padding:3px;
	width:103px;
}
.view.view-executive-bios .views-row .views-field-title {
	margin-top:5px;
	color:#005696;
	font-style:italic;
	font-size:13px;
}
.view.view-executive-bios .views-row .views-field-field-job-title-value {
	color:#5f6062;
	font-style:italic;
	font-size:12px;
	line-height:16px;
	margin-top:-1px;
}
.view.view-executive-bios .views-row .views-field-nothing {
	margin-top:7px;
}
.view.view-executive-bios .views-row .views-field-nothing a {
	font-size:12px;
}

.view.view-executive-bios .views-row .views-field-field-team-image-fid img {
	border:1px solid #FFF;	
}

#block-quicktabs-executives_team {
	margin-top:35px;	
}
.quicktabs_main .results-info-container {
	margin-right: 32px;
}


#quicktabs-executives_team {
	padding-top:2px;	
}

.quicktabs_wrapper {
	background:url("../images/bg/bg-toptabs.png") no-repeat scroll left top transparent;
	
}
.quicktabs_tabpage {
	background:url("../images/bg/bg-tabs.png") repeat-y scroll left top transparent;
	padding:25px;	
}
#quicktabs_container_executives_team .content p {
	width:595px;
}
#quicktabs_tabpage_executives_team_2 .view-content .field-content > h2 img {
	background: url('../images/border/divider.png') no-repeat top center transparent;
	padding-top:29px;
}
.content ul.quicktabs_tabs {
	height:30px;
	padding: 0;
}
.content ul.quicktabs_tabs li {
	display:block;
	float:left;
	padding:5px 12px 10px 0;
	background: none;
}
.content ul.quicktabs_tabs li a {
	color:#5f6062;
	font-style:italic;	
	padding:4px 20px 10px
}
.content ul.quicktabs_tabs li.active {
	background:url("../images/border/angle-grad.png") no-repeat right top transparent;
}
.content ul.quicktabs_tabs li.active a {
	border-top:2px solid #FECF06;
	background:none repeat scroll 0 0 transparent;
	color:#005696;
}

/* ==|== Views filter styles ======================================== */
#views-exposed-form-media-newsroom-page-1 .views-exposed-widget,
#views-exposed-form-media-newsroom-page-2 .views-exposed-widget,
#views-exposed-form-media-newsroom-page-3 .views-exposed-widget,
#views-exposed-form-media-newsroom-page-4 .views-exposed-widget,
#views-exposed-form-resources-page-1 .views-exposed-widget,
#views-exposed-form-resources-page-3 .views-exposed-widget{
	float:left;
}
#views-exposed-form-media-newsroom-page-1 .container-inline-date,
#views-exposed-form-media-newsroom-page-2 .container-inline-date,
#views-exposed-form-media-newsroom-page-3 .container-inline-date,
#views-exposed-form-media-newsroom-page-4 .container-inline-date,
#views-exposed-form-media-newsroom-page-5 .container-inline-date,
#views-exposed-form-resources-page-1 .container-inline-date,
#views-exposed-form-resources-page-3 .container-inline-date{
	float:left;
	clear:none;
	background:transparent url('../images/ico/calendar.png') no-repeat right center;
	padding-right:40px;
	cursor:pointer;
}
#views-exposed-form-media-newsroom-page-1 input,
#views-exposed-form-media-newsroom-page-2 input,
#views-exposed-form-media-newsroom-page-3 input,
#views-exposed-form-media-newsroom-page-4 input,
#views-exposed-form-media-newsroom-page-5 input,
#views-exposed-form-resources-page-1 input,
#views-exposed-form-resources-page-3 input{
	width: 70px;
}
#views-exposed-form-media-newsroom-page-1 #edit-title,
#views-exposed-form-media-newsroom-page-2 #edit-title,
#views-exposed-form-media-newsroom-page-3 #edit-title,
#views-exposed-form-media-newsroom-page-4 #edit-title,
#views-exposed-form-media-newsroom-page-5 #edit-title,
#views-exposed-form-resources-page-1 #edit-title,
#views-exposed-form-resources-page-3 #edit-title{
	width: 130px;
}
.views-exposed-widgets .selector {
	position:relative;
	top:-3px;
}
#edit-field-date-value-min-wrapper label,
#edit-field-date-value-min-wrapper .description,
#edit-field-date-value-max-wrapper label,
#edit-field-date-value-max-wrapper .description{
	display:none;
}
#views-exposed-form-media-newsroom-page-1 .jquery_dropdown_container,
#views-exposed-form-media-newsroom-page-2 .jquery_dropdown_container,
#views-exposed-form-media-newsroom-page-3 .jquery_dropdown_container,
#views-exposed-form-media-newsroom-page-4 .jquery_dropdown_container,
#views-exposed-form-resources-page-1 .jquery_dropdown_container,
#views-exposed-form-resources-page-3 .jquery_dropdown_container{
	width:100px;
}
#views-exposed-form-media-newsroom-page-1 .selector span,
#views-exposed-form-media-newsroom-page-2 .selector span,
#views-exposed-form-media-newsroom-page-3 .selector span,
#views-exposed-form-media-newsroom-page-4 .selector span,
#views-exposed-form-media-newsroom-page-5 .selector span,
#views-exposed-form-resources-page-1 .selector span,
#views-exposed-form-resources-page-3 .selector span{
	width:95px;
}
#views-exposed-form-media-newsroom-page-1 .jquery_dropdown_header,
#views-exposed-form-media-newsroom-page-2 .jquery_dropdown_header,
#views-exposed-form-media-newsroom-page-3 .jquery_dropdown_header,
#views-exposed-form-media-newsroom-page-4 .jquery_dropdown_header,
#views-exposed-form-resources-page-1 .jquery_dropdown_header,
#views-exposed-form-resources-page-3 .jquery_dropdown_header{
	width:auto;
}
#views-exposed-form-media-newsroom-page-1 .jquery_dropdown_list,
#views-exposed-form-media-newsroom-page-2 .jquery_dropdown_list,
#views-exposed-form-media-newsroom-page-3 .jquery_dropdown_list,
#views-exposed-form-media-newsroom-page-4 .jquery_dropdown_list,
#views-exposed-form-resources-page-1 .jquery_dropdown_list,
#views-exposed-form-resources-page-3 .jquery_dropdown_list{
	width:100%;
}
#views-exposed-form-media-newsroom-page-1 .jquery_dropdown_list li,
#views-exposed-form-media-newsroom-page-2 .jquery_dropdown_list li,
#views-exposed-form-media-newsroom-page-3 .jquery_dropdown_list li,
#views-exposed-form-media-newsroom-page-4 .jquery_dropdown_list li,
#views-exposed-form-resources-page-1 .jquery_dropdown_list li,
#views-exposed-form-resources-page-3 .jquery_dropdown_list li{
	margin:0;
}
#views-exposed-form-media-newsroom-page-1 .jquery_dropdown_list li a,
#views-exposed-form-media-newsroom-page-2 .jquery_dropdown_list li a,
#views-exposed-form-media-newsroom-page-3 .jquery_dropdown_list li a,
#views-exposed-form-media-newsroom-page-4 .jquery_dropdown_list li a,
#views-exposed-form-resources-page-1 .jquery_dropdown_list li a,
#views-exposed-form-resources-page-3 .jquery_dropdown_list li a{
	padding:3px 11px;
	width:auto;
}
.views-exposed-form .views-exposed-widget.views-submit-button{
	padding-top:0;
}

/* ==|== Homepage styles ======================================== */
body.front #page {
	position:relative;
	width:100%;	
}
#panelmenu {
	width:960px;
	margin:0 auto;
}
body.front #page #top, 
body.front #page #header {
	position:relative;
	width:960px;
	margin:0 auto;	
	z-index:1000;
}
body.front #page #header, 
#page #header {
	margin-top:8px;
	width: 935px;
}
body.front > div.qtip {
    margin-left: 12px;
}
body.front #frontbottom {
	position:absolute;
	width:100%;
	top:618px;
	z-index:10;
}
body.front #frontbottom #homeblock {
        background:transparent url('../../../modules/solutions_finder/img/bg-solutionblock.png') no-repeat 0 0;
        overflow:hidden;
	
        width: 941px;
	
        margin: -63px auto 0;	
        height: 230px;
        padding: 54px 65px 54px 65px;
}

body.front #footer-wrapper {
	position:relative;
	z-index:1000;
}

.views_slideshow_singleframe_main {
	position:relative;
	z-index:1;
}
	
#block-views-nodequeue_2-block {
	margin:24px 0 0;
	text-align:center;
	position:absolute;
	z-index:1;
}
#block-views-nodequeue_2-block #views_slideshow_singleframe_teaser_section_nodequeue_2-block {
	margin:0 auto;
	z-index:-100;
}
#block-views-nodequeue_2-block #views_slideshow_singleframe_teaser_section_nodequeue_2-block .views-field-body {
	position:absolute;
	top: 320px;
	left: 17%;
	text-align:left;
	width:420px;
	z-index:100000;
}
#block-views-nodequeue_2-block #views_slideshow_singleframe_teaser_section_nodequeue_2-block .views-field-body .field-content .body{
	visibility:hidden;
}
block-views-nodequeue_2-block .views_slideshow_slide .views-field-body .body p {
	font-size:15px;
}
#block-views-nodequeue_2-block #views_slideshow_singleframe_teaser_section_nodequeue_2-block .views-field-field-background-fid {
	position:relative;
	z-index:1000;
}
#block-views-nodequeue_2-block .views-slideshow-controls-bottom {
	position:absolute;
	top: 500px;
	left: 70%;
	text-align:right;
	z-index:20;
}
#block-views-nodequeue_2-block .views-slideshow-controls-bottom #views_slideshow_singleframe_prev_nodequeue_2-block {
	display:block;
	width:30px;
	height:40px;
	overflow:hidden;
	float:left;
	text-indent:200px;
	background:transparent url('../images/slide/prev.png') no-repeat 0 center;
}
#block-views-nodequeue_2-block .views-slideshow-controls-bottom #views_slideshow_singleframe_next_nodequeue_2-block {
	display:block;
	width:30px;
	height:40px;
	overflow:hidden;
	float:left;
	text-indent:200px;
	background:transparent url('../images/slide/next.png') no-repeat 0 center;
}
#block-views-nodequeue_2-block .views-slideshow-controls-bottom #views_slideshow_singleframe_playpause_nodequeue_2-block {
	display:none;
}
#block-views-nodequeue_2-block .views-slideshow-controls-bottom #views_slideshow_singleframe_pager_nodequeue_2-block {
	float:left;
}
#block-views-nodequeue_2-block .views-slideshow-controls-bottom #views_slideshow_singleframe_pager_nodequeue_2-block .pager-item {
	float:left;
	padding:0;
}
#block-views-nodequeue_2-block .views-slideshow-controls-bottom #views_slideshow_singleframe_pager_nodequeue_2-block .pager-item a {
	display:block;
	width:30px;
	height:40px;
	overflow:hidden;
	text-indent:200px;
	background:transparent url('../images/slide/slideshow-dots.png') no-repeat right center;
}
#block-views-nodequeue_2-block .views-slideshow-controls-bottom #views_slideshow_singleframe_pager_nodequeue_2-block .pager-item.activeSlide a {
	background-position:left center;
}

#block-views-nodequeue_2-block #views_slideshow_singleframe_teaser_section_nodequeue_2-block .views-field-body h2,
#block-views-nodequeue_2-block #views_slideshow_singleframe_teaser_section_nodequeue_2-block .views-field-body h2 a{
	color:#373233;
	font-size:30px;
	font-style:italic;
	margin-bottom:15px;
}

#block-views-nodequeue_2-block #views_slideshow_singleframe_teaser_section_nodequeue_2-block .views-field-body .cta {
	margin-top:25px;
}

#block-views-nodequeue_2-block #views_slideshow_singleframe_teaser_section_nodequeue_2-block .views-field-body .learnmore {
	float:left;
	margin-right:25px;
	display:block;
	width:151px;
	height:34px;
	overflow:hidden;
	text-indent:-9999px;
	background:transparent url('../images/btn/learnmore-btn.png') no-repeat left top;
}
.learnmore-arrow{
	float:right;
	color:#0f5f88;
	font-size:12px;
	background:transparent url('../images/ico/left-arrow.jpg') no-repeat center right;
	padding-right:16px;
}
#block-views-nodequeue_2-block #views_slideshow_singleframe_teaser_section_nodequeue_2-block .views-field-body a.learnmore:hover {
	background:transparent url('../images/btn/learnmore-btn.png') no-repeat left bottom;
}
#block-views-nodequeue_2-block #views_slideshow_singleframe_teaser_section_nodequeue_2-block .views-field-body .videobtn {
	float:left;
	display:block;
	width:156px;
	height:34px;
	overflow:hidden;
	text-indent:-9999px;
	background:transparent url('../images/btn/watchvideo-btn.png') no-repeat left top;
}
#block-views-nodequeue_2-block #views_slideshow_singleframe_teaser_section_nodequeue_2-block .views-field-body a.videobtn:hover {
	background:transparent url('../images/btn/watchvideo-btn.png') no-repeat left bottom;
}
#block-quicktabs-home_block {
}
#quicktabs-home_block {
	width:740px;
	float:left;
}

#quicktabs-home_block .hometab{
	float:left;
	font-size:13px;
	line-height:20px;
	width:243px;
	position:relative;
	overflow:hidden;
}
#quicktabs-home_block .hometab h2{
	font-size:13px;
	margin:0;
	min-height:45px;
	width: 164px;
}
#quicktabs-home_block .hometab h2,
#quicktabs-home_block .hometab div.home-content-body,
#quicktabs-home_block .hometab p{
	line-height: 20px;
	font-size: 13px;
}
#block-quicktabs-home_block .quicktabs_wrapper {
	background:url("../images/bg/bg-homeblock.png") repeat scroll left top transparent;
}
#quicktabs_container_home_block {
	float:left;
	width:100%;
	padding:0 5px;
}
#quicktabs_container_home_block .quicktabs_tabpage {
	padding:0;
	background:none;
}

#quicktabs_container_home_block .views-row{
	position:relative;
	float:left;
	border:1px solid #FFFFFF;
	width:241px;
	height: 185px;
	overflow: hidden;
}

#quicktabs-home_block .hometab .home-image {
	height: 185px;
}

#quicktabs-home_block .hometab .home-content{
	background-color:#FFFFFF;
	bottom:0;
	height:34px;
	overflow:visible!important;
	padding:10px;
	position:absolute;
	width:190px;
	z-index:2;
}

#quicktabs-home_block .hometab .home-content span.arrow{
	background:url("../images/btn/home-arrow.png") no-repeat scroll left top transparent;
	display:block;
	height:53px;
	overflow:hidden;
	text-indent:-9999px;
	width: 52px;
	z-index: 3;	
	float: right;
	margin-top: -30px;
	margin-right: -20px;
}

/* ==|== Search Result styles ================================== */

.page-search #main-squeeze .views-row {
    background: url('../images/border/news-divider.png') no-repeat scroll center bottom transparent;
    float: left;
    padding: 30px 0;
    width: 100%;
}

.video-testimonial {
	padding:0 12px;
}

.video-testimonial .views-row {
    padding: 0;
}

.field-content a {
    font-size: 15px;
}

.page-search .views-label-body {
    display: none;
}

.views-field-teaser img {
    display: none;
}

#main-squeeze #topcontent .content {
    background: url('../images/border/lg-softgrad.png') no-repeat scroll center bottom transparent;
    padding-bottom: 22px;
}

/* ==|== Support styles ======================================== */
#webform-client-form-2 fieldset {
	margin:30px 0;
}
#webform-client-form-2 fieldset#webform-component-step-2 .webform-component-select {
	width: 441px;
}
#webform-client-form-2 fieldset#webform-component-step-2 .webform-component-select .validated{
	margin: 1px 0 0;
}
.form-required {
	float:left;
	font-size:13px;
	color:#5f6062;
}
#webform-component-break-1, #webform-component-break-2 {
	background:transparent url('../images/border/divider.png') no-repeat center bottom;
	height:1px;
	margin:auto;
	width:910px;
}
#webform-component-step-1--please-enter-your-application-loan-number, 
#webform-component-step-2 > div#webform-component-step-2--inquiry-application, 
#webform-component-step-2 > div#webform-component-step-2--inquiry-myloan, 
#webform-component-step-2 > div#webform-component-step-2--inquiry-customerservice {
	display:none;
}
#edit-submitted-step-2-more-about-inquiry-wrapper, 
#webform-component-step-3--how-would-you-like-to-contact-us .form-item {
	margin-top:0;	
}
#edit-submitted-step-2-more-about-inquiry,
#edit-submitted-step-2-more-about-inquiry-wrapper .jquery_dropdown_container,
#edit-submitted-step-2-more-about-inquiry-wrapper .selector span{
	margin-top:8px;
}
#webform-client-form-2 #webform-component-step-2 .selector {
	width: 396px;
}
#webform-client-form-2 #webform-component-step-2 .selector span{
	width: 372px;
}
#webform-client-form-2 #webform-component-step-2 .selector select{
	width:407px;
}
#webform-component-step-2--support-comments  {
	margin-top:14px;
}
#webform-client-form-2 #webform-component-step-1 {
	background:url("../images/bg/1.png") no-repeat scroll left top transparent;
	padding-left:50px;
	margin-top:0;
	height:50px;
}
#webform-client-form-2 #webform-component-step-1 .form-radios .form-item{
	float:left;
	margin-right: 20px;
}
#webform-client-form-2 #webform-component-step-1 .webform-component > .form-item > * {
	float:left;
}
#webform-client-form-2 #webform-component-step-1 #webform-component-step-1--i-need-assistance-with > .form-item > label {
	width:190px;
}
#webform-component-step-1--i-need-assistance-with .form-item, 
#webform-component-step-1--i-need-assistance-with .form-radios{
	margin:0;
	padding:0;
}
#webform-component-step-1 .form-item .validated {
	margin:0;
}
#edit-submitted-step-1-i-need-assistance-with-1-wrapper label, #edit-submitted-step-1-i-need-assistance-with-2-wrapper label, #edit-submitted-step-1-i-need-assistance-with-3-wrapper label, #edit-submitted-step-1-please-enter-your-application-loan-number-wrapper label {
	color:#5f6062;
	font-size:13px;
}
#edit-submitted-step-1-please-enter-your-application-loan-number-wrapper label {
	display:inline-block;
	width:280px;
}
#webform-component-step-1--please-enter-your-application-loan-number {
	clear:left;
	padding-top:10px;
}
#webform-component-step-2 {
	background:url("../images/bg/2.png") no-repeat scroll left top transparent;
	padding-left:50px;
}

#webform-component-step-3 {
	background:url("../images/bg/3.png") no-repeat scroll left top transparent;
	padding-left:50px;
}
#webform-component-step-3--how-would-you-like-to-contact-us .form-radios label {
	height:113px;
	cursor:pointer;
	margin:7px 108px 0 13px;
	display:block;
	overflow:hidden;
	text-indent:-9999px;
}

#webform-component-step-3--how-would-you-like-to-contact-us .form-radios div {
	float:left;
}
.form-radios #edit-submitted-step-3-how-would-you-like-to-contact-us-1-wrapper label{
	background:url("../images/btn/support-email.png") no-repeat scroll left bottom transparent;
	width:89px;
}
.form-radios #edit-submitted-step-3-how-would-you-like-to-contact-us-2-wrapper label{
	background:url("../images/btn/support-schedule.png") no-repeat scroll left bottom transparent;
	width:119px;
}
.form-radios #edit-submitted-step-3-how-would-you-like-to-contact-us-3-wrapper label{
	background: url("../images/btn/support-phone.png") no-repeat scroll left top transparent;
	cursor:auto;
	width: 111px;
}
#edit-submitted-step-3-how-would-you-like-to-contact-us-1-wrapper input, #edit-submitted-step-3-how-would-you-like-to-contact-us-2-wrapper input, #edit-submitted-step-3-how-would-you-like-to-contact-us-3-wrapper input {
	display:none;
}

#webform-client-form-2 #edit-actions {
	display:none;
}

/* ==|== Testimonial styles ======================================== */
#testimonial #block-views-testimonials-block_1 {
	display:none;
}
#block-block-13 {
	background: url("../images/bg/find-your-solution.png") no-repeat scroll left top transparent;
	float: left;
	height: 120px;
	padding: 30px 40px 50px 120px;
	width: 120px;
	margin: 0 0 19px;
}
#block-block-13 h2 {
	font-style:italic;
	font-size: 18px;
}
#block-block-13 .content a.cta-btn:hover {
	color:#fff;
}
.block-solutions_cta {
	background: url("../images/bg/find-your-solution.png") no-repeat scroll left top transparent;
	background:transparent url('/sites/all/themes/bhg/images/bg/homepage-step-1.jpg') no-repeat top left;
	float: left;
	height: 230px;
	padding: 0 0 0 19px;
	width: 210px;
	margin: 0 5px 19px;
}
.block-solutions_cta h2 {
	color:white;
	font-style:italic;
	font-size: 16px;
	margin: 10px 0 22px 0;
}
.block-solutions_cta h3 {
	color:white;
	font-size: 13px;
	font-style: italic;
	width: 170px;
	margin: 15px 0 0 0;
}
#page .block-solutions_cta .content a.cta-btn {
	background: url("../images/btn/btn-light.png") no-repeat scroll left top transparent;
	color:#0f5f88;
	margin: 40px 0 0 71px;
}
#page .block-solutions_cta .content a.cta-btn:hover{
	background: url("../images/btn/btn-light_over.png") no-repeat scroll left top transparent;
}
#page .block-solutions_cta .content a.cta-btn:active{
	background: url("../images/btn/btn-light_hit.png") no-repeat scroll left top transparent;
}
#block-testimonials-0 {
	float:left;
	width:210px;
	background: url("../images/bg/bg-left.png") no-repeat scroll left top transparent;
}
#block-testimonials-0 h2 {
	color:#000;
	margin: 21px 32px 6px;
}

#block-testimonials-0 ul {
	padding:0;
}
#block-testimonials-0 ul li {
	background:none;
	border-bottom:1px solid #FFF;
	padding:0;
}
#block-testimonials-0 ul li a {
	background:none;
	color:#000;
	padding: 3px 0px 3px 32px;
	width: 178px;
	display: block;
}
#block-testimonials-0 ul li a.active {
	background: url("../images/bg/highlight-li.png") no-repeat scroll 5px top transparent;
}
#block-testimonials-0 ul li .count {
	color:#005696;	
}

#media-youtube-1 {
	background: url("../images/bg/softgrad.png") no-repeat bottom center transparent;
	padding-bottom:11px;
}
#media-youtube-1 object {
	background: black;
}
#media-youtube-1 #testimonial-play-btn {
	background: transparent url('../images/btn/video-play.png') no-repeat center center;
	cursor:pointer;
	height:95px;
	width:75px;
}
#media-youtube-1 #testimonial-share-btn {
	background: transparent url('../images/btn/video-share.png') no-repeat center center;
	cursor:pointer;
	height:67px;
	width:67px;
}
#media-youtube-1 #testimonial-play-btn:hover {
	background: transparent url('../images/btn/video-play-hover.png') no-repeat center center;
}
#media-youtube-1 #testimonial-share-btn:hover {
	background: transparent url('../images/btn/video-share-hover.png') no-repeat center center;
}
#block-views-testimonials-block_3 {
	margin-bottom:40px;
}
#block-views-testimonials-block_3  .views-field-body {
	margin-top:20px;
}
.main-squeeze .view-testimonials .view-content {
	margin:21px 0 14px 0;
}
#main-squeeze .view-testimonials.view-dom-id-2 .view-content .field-content h2 {
	font-size:15px;
	margin:0px;
}
.sidebar .menu .menu {
	display: none;
}
.sidebar .menu li.active-trail > .menu{
	display:block;
}
.sidebar-left .view-testimonials .view-content {
	margin:3px 12px 0 5px;
}
.sidebar-left .view-testimonials .views-field-field-testimonial-thumb-fid {
	margin-top:-34px;
}
.sidebar-left .view-testimonials .views-field-nothing-2 .field-content h2 {
 	font-size:15px;
	margin-top:9px;
	margin-bottom:0;
}
.sidebar-left .view-testimonials .views-field-nothing-2 .field-content h2,
.sidebar-left .view-testimonials .views-field-title .field-content,
.sidebar-left .view-testimonials .views-field-nothing-2 .field-content p {
	margin-left:10px;
}
.sidebar-left .view-testimonials .views-field-title .field-content {
	color: #898A8C;
	font-size: 12px;
	font-style: italic;
}
.sidebar-left .view-testimonials .view-content .views-field-nothing .field-content {
	line-height:18px;
}
#topcontent .view-testimonials .view-content {
	margin:0;
}
.customer-testimonial-node-body {
	overflow-y: auto;
	height: 180px;
}
.credentials {
	display:block;
	font-style:italic;
	margin-top:15px;
	text-align:right;
}

.credentials p {
	color: #5f6062;
}
.block-affiliate-partnerships,
.block-associations {
	margin-top: 34px;
}
.testimonial,
.view-affiliate-partnerships .affiliate-partnership,
.view-associations .association {
	float:left;
	background:transparent url(../images/border/news-divider.png) no-repeat center bottom;
	padding-bottom:30px;
	margin-bottom:30px;
}
.views-row-last .association,
.views-row-last .affiliate-partnership {
	background: none;
}
#node-293 .testimonial.first{
	margin-top:42px;
}
.testimonial .left,
.view-affiliate-partnerships .affiliate-partnership .left,
.view-associations .association .left {
	float:left;
	width: 174px;
	height:136px;
	background:url("../images/bg/bg-vidthumb.png") no-repeat scroll left top transparent;
	padding:3px;
	margin-right:15px;
}
.testimonial .left{
	width:242px;
}
.view-affiliate-partnerships .affiliate-partnership .left,
.view-associations .association .left {
	background:none;
}
.view-affiliate-partnerships .affiliate-partnership .right,
.view-associations .association .right {
	float:left;
	width: 475px;
}
.view-affiliate-partnerships .affiliate-partnership .right h2,
.view-associations .association .right h2 {
	margin: 0 0 3px 0;
	font-style: normal;
	font-size: 15px;
}
.view-affiliate-partnerships .affiliate-partnership .right p a,
.view-associations .association .right p a {
    font-size: 13px;
}
#node-293 .testimonial .left{
	background:none;
}
.testimonial .left img {
	border:1px solid #FFF;
}
#node-293 .testimonial .left img{
	border:none;
}
.testimonial .right {
	float:left;
	width:390px;
}
.single-testimonial{
	position:relative;
}
.single-testimonial .right{
	position:absolute;
	top:36px;
	left:20px;
	width:302px;
}
.single-testimonial .right h3,
.single-testimonial .right .cta,
#block-views-testimonials-block_1 .solution-test .content  .credentials h3{
	margin-top:10px;
}

/* ==|== Contact us styles ======================================== */
#webform-client-form-1 .webform-component .form-textarea,
#webform-client-form-3 .webform-component .form-textarea,
#webform-client-form-97 .webform-component .form-textarea {
	height:113px;
	width: 407px;
}

#edit-submit,
#edit-preview{
    background:url("../images/btn/cta-btn.png") no-repeat scroll left top transparent;
}

/* ==|== Testimonial styles ======================================== */
#block-views-testimonials-block_2  {
	background:url("../images/bg/bg-testimonial.png") no-repeat scroll left top transparent;
	float:left;
	height: 350px;
	width: 253px;
}
#block-views-testimonials-block_2 .views-field-nothing {
	border-top:2px solid #FECF06;
	line-height:18px;
	position:relative;
	background:url("../images/bg/bg-quote.png") no-repeat scroll left bottom transparent;
	padding:20px 26px 50px;
	z-index:2;
}
#block-views-testimonials-block_2 .views-field-nothing-2 p {
	color:#5f6062;
	font-size:12px;
	font-style:italic;
}
#block-views-testimonials-block_2 .views-field-field-image-fid {
	position:relative;
	z-index:1;
	margin-top:-35px;
	margin-bottom: 12px;
}
#block-views-testimonials-block_2 .views-field-field-video-embed a{
	width:89px;
	height:22px;
	background:url("../images/btn/watch-video.png") no-repeat scroll left top transparent;
	overflow:hidden;
	display:block;
	float:left;
	margin-right:10px;
	text-indent:-9999px;
}
#block-views-testimonials-block_2 .views-field-body p {
	font-size:13px;
	color:#5f6062;
}
.quote {
	font-size:31px;
	color:#005696;
	display:inline-block;
	vertical-align: top;
	width:0px;
}
.left-quote {
	margin-left:-16px;
	width:16px;
}
.right-quote {
	margin:4px 0 0 4px;
}
#block-views-testimonials-block_2 .views-field-field-job-title-value h2 {
	font-size:15px;
	font-style:italic;
	color:#005696;
}
#block-views-testimonials-block_2 .views-field-field-job-title-value p {
	font-size:12px;
	font-style:italic;
	color:#5f6062;
}

.views-field-nothing-1 {
    padding: 20px 0 0 10px;
}
.sidebar-left .view-testimonials .view-content .views-field-nothing-1 {
	padding-top:0px;
}
.views-field-field-customer-since-value {
    padding-left: 10px;
}

span.field-content a {
    padding-bottom: 12px;
}

/* ==|== Solution form styles ======================================== */
body#withbackground #node-form.solution-finder .form-item {
	padding: 10px 50px;
}
body#withbackground #node-form.solution-finder .form-item .form-item {
	padding:0;
}
body#withbackground #edit-field-solution-profession-value-wrapper {
	background:url("../images/bg/1.png") no-repeat scroll left center transparent;
}
body#withbackground  #edit-field-solution-amount-value-wrapper {
	background:url("../images/bg/2.png") no-repeat scroll left center transparent;
}
body#withbackground  #edit-field-solution-timeframe-value-wrapper {
	background:url("../images/bg/3.png") no-repeat scroll left center transparent;
}
body#withbackground  #edit-field-solution-funds-value-wrapper {
	background:url("../images/bg/4.png") no-repeat scroll left center transparent;
}
body#withbackground  #edit-field-solution-email-0-email-wrapper {
	background:url("../images/bg/5.png") no-repeat scroll left center transparent;
	margin-bottom:0;
}
body#withbackground #edit-field-solution-email-0-email{
	display:inline-block;
	width: 374px;
}
body#withbackground #node-form.solution-finder #edit-submit {
	margin-top: -12px;
}

/* ==|== Solution One Sheet styles ======================================== */
#block-views-testimonials-block_1 {
	float:left;
	width:676px;
	height:382px;
}
#block-views-testimonials-block_1 .solution-test {
	float:left;
	width:676px;
	height:382px;
	position:relative;
	background:url("../images/bg/bg-solution-testimonial.png") no-repeat scroll left center transparent;
}

#block-views-testimonials-block_1 .solution-test .image {
	position:relative;
	z-index:1;
	margin: 1px 10px;
}
#block-views-testimonials-block_1 .solution-test .content {
	height: 301px;
	left: 9px;
	overflow: hidden;
	padding: 20px;
	position: absolute;
	top: 0;
	width: 297px;
	z-index: 2;
}
#block-views-testimonials-block_1 .solution-test .content  .credentials h2 {
	font-size:15px;
	color:#005696;
	margin:0;	
}
#block-views-testimonials-block_1 .solution-test .content  .credentials {
	clear: left;
    margin:0 0 15px 0px;
    text-align: left;
    width: 200px;
}
#block-views-testimonials-block_1 .solution-test .content .cta {
	float:left;
}
#block-views-testimonials-block_1 .solution-test .content .cta h3 {
	font-size:16px;
	color:#4c4c4d;
	margin:0;
	font-style:italic;
}
#block-views-testimonials-block_1 .solution-test .content .activate-loan,
.single-testimonial .right .activate-loan{
	float:left;
	background: url("../images/btn/activateloan-solutions.png") no-repeat scroll left top transparent;
	display: block;
	height: 22px;
	overflow: hidden;
	text-indent: -9999px;
	width: 127px;
	margin-right:20px;
}
#block-views-testimonials-block_1 .solution-test .content .request-call,
.single-testimonial .right .request-call{
	float:left;
	background: url("../images/btn/requestcall-solutions.png") no-repeat scroll left top transparent;
	display: block;
	height: 22px;
	overflow: hidden;
	text-indent: -9999px;
	width: 127px;
}
#block-views-testimonials-block_1 .views-row {
	float:left;
	background:none;	
	padding:0;
	margin:0;
}
#block-views-testimonials-block_1 .solution-test .content h2 {
	width:302px;
	font-size:16px;
	color:#4c4c4d;
}
#block-views-testimonials-block_1 .solution-test .content p{
	display:inline;
	line-height:22px;
}

.block-solution h2, #block-views-nodequeue_6-block h2 {
	font-size:20px;
	font-style:italic;
	margin-bottom:35px;
}
.block-solution .views-row {
	margin-bottom:40px;	
	float:left;
}
#block-views-benefits-block_1 .views-row,
#block-views-solutions-block_1 .views-row {
	margin-bottom:0px;
	margin-top:37px;
}
#block-block-6 h2 {
	padding:35px 0 0;
	background:url("../images/border/divider.png") no-repeat scroll center top transparent;
}
#block-block-6, #block-block-8, #block-views-nodequeue_6-block {
	padding:0 0 35px;
	background:url("../images/border/divider.png") no-repeat scroll center bottom transparent;
}
#block-block-6, #block-block-8 {
	clear:left;
}

#block-block-8 {
	float:left;
	padding-bottom: 0;
	width:500px;	
	
}

#block-block-8 .right img {
	margin:2px 15px 35px;	
}

#block-block-23 {
	float:right;
	width:269px;
	background:url("../images/border/loan-divider.png") no-repeat scroll center bottom transparent;
	padding-bottom:15px;
}

#block-block-23 h2, #block-views-nodequeue_9-block h2 {
	font-size:15px;
	color:#4c4c4d;
	margin-bottom: 15px;
}

#block-block-23 ul {
	margin:0;
	padding:0;
}
#block-block-23 ul li {
	margin:5px 0;
	padding: 5px 0 0 25px;
}

#block-views-nodequeue_9-block {
	float:right;
	width:270px;
}

#block-views-nodequeue_9-block .view-footer {
	margin:15px 10px 0 0;
}

#block-views-nodequeue_9-block .views-row {
	float:left;
	background:none;	
	padding:0;
	width:80px;
	margin-right:10px;
}

#block-views-nodequeue_6-block {
	float:left;
	padding-bottom: 46px;
	width:460px;	
}

#block-views-nodequeue_6-block .views-row {
	background: url("../images/bg/bg-awards.png") no-repeat scroll left top transparent;
	display: block;
	float: left;
	height: 195px;
	margin:0 20px 0 0;
	padding:5px;
	overflow: hidden;
	position: relative;
	width: 195px;
}

#block-views-nodequeue_6-block .views-row-last {
	margin-right:0px;	
}
#block-views-nodequeue_6-block .views-field-nothing a {
	background:none;
	height: 210px;
	width: 210px;
	display:inline;	
}
#block-views-nodequeue_6-block .views-row .resource .resource-image {
	height: 200px;
	position: relative;
	width: 200px;
	z-index: 1;
}
#block-views-nodequeue_6-block .views-row .resource .resource-content {
	background-color: #FFFFFF;
	bottom: 0;
	height:50px;
	cursor: default;
	padding: 15px;
	position: absolute;
	width: 155px;
	z-index: 2;
}
#block-views-nodequeue_6-block .views-row .resource .resource-content h2 {
	color: #4c4c4d;
	font-size: 14px;
	font-style: italic;
	margin:0;
}
#block-views-nodequeue_6-block .views-row .resource .resource-content a {
	background: url("../images/btn/home-arrow.png") no-repeat scroll left top transparent;
	display: block;
	height: 53px;
	overflow: hidden;
	position: absolute;
	right: -15px;
	text-indent: -9999px;
	top: -30px;
	width: 52px;
	z-index: 3;
}
#block-views-nodequeue_6-block .view-footer {
	float: right;
	margin: 20px 30px 0 0;
}

/* ==|== Affiliation Carousel styles ======================================== */
#block-views-nodequeue_1-block_1 {
	background:url("../images/bg/bg-affiliation.png") no-repeat scroll left top transparent;
	float:left;
	height:216px;
	padding:20px;
	width:212px;
}
#block-views-nodequeue_1-block_1 h2 {
	font-size:18px;
	font-style:italic;
	text-align:center;
}

#block-views-nodequeue_1-block_1 #views_slideshow_singleframe_pager_nodequeue_1-block_1 {
	text-align:center;
}
#block-views-nodequeue_1-block_1 #views_slideshow_singleframe_pager_nodequeue_1-block_1 .pager-item a{
	float:left;
	margin:0 2px;
	display:block;
	width:14px;
	height:13px;
	overflow:hidden;
	text-indent:-9999px;
	background:url("../images/slide/carousel-dots.png") no-repeat scroll left top transparent;
}
#block-views-nodequeue_1-block_1 #views_slideshow_singleframe_pager_nodequeue_1-block_1 .pager-item.activeSlide a{
	display:block;
	width:14px;
	height:13px;
	overflow:hidden;
	text-indent:-9999px;
	background:url("../images/slide/carousel-dots.png") no-repeat scroll right top transparent;
}

/* ==|== Awards styles ======================================== */
.view-media-newsroom .views-row .award {
	position:relative;
	float:left;
	width:210px;
	height:210px;
	background:url("../images/bg/bg-awards.png") no-repeat scroll left top transparent;	
	display:block;
	overflow:hidden;
	margin:0 10px 10px 0;
}
.view-media-newsroom .views-row .award .award-image {
	position:relative;
	width:200px;
	height:200px;
	margin:5px;
	z-index:1;	
}
.view-media-newsroom .views-row .award .award-content {
	background-color:#FFFFFF;
	bottom:0;
	height:30px;
	padding:15px;
	position:absolute;
	width:155px;
	z-index: 2;
	cursor:default;
}
.view-media-newsroom .views-row .award .award-content h2{
	font-size:13px;
	color:#005696;
	font-style:italic;
}
.view-media-newsroom .views-row .award .award-content p{
	font-size:12px;
	color:#373233;
}

/* ==|== non-semantic helper classes ======================================== */
.ir { display:block; border:0; text-indent:-999em; overflow:hidden; background-color:transparent; background-repeat:no-repeat; text-align:left; direction:ltr; }
.ir br { display:none; }
.hidden { display:none !important; visibility:hidden; }
.visuallyhidden { border:0; clip:rect(0 0 0 0); height:1px; margin:-1px; overflow:hidden; padding:0; position:absolute; width:1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip:auto; height:auto; margin:0; overflow:visible; position:static; width:auto; }
.invisible { visibility:hidden; }
.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }
.clearfix { zoom:1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width:480px) {


}

@media only screen and (min-width:768px) {

}



/* ==|== print styles ======================================================= */
 
@media print {
  * { background:transparent !important; color:black !important; text-shadow:none !important; filter:none !important; -ms-filter:none !important; } 
  a, a:visited { text-decoration:underline; }
  a[href]:after { content:" (" attr(href) ")"; }
  abbr[title]:after { content:" (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content:""; } 
  pre, blockquote { border:1px solid #999; page-break-inside:avoid; }
  thead { display:table-header-group; }
  tr, img { page-break-inside:avoid; }
  img { max-width:100% !important; }
  @page { margin:0.5cm; }
  p, h2, h3 { orphans:3; widows:3; }
  h2, h3 { page-break-after:avoid; }
}

/* search header spot */
#block-views--exp-search-default {
	float:left;
	margin-right:-4px;
/*	width:220px;*/
}
#views-exposed-form-search-default .views-exposed-form .views-exposed-widget {
	padding:2px 0 0;
}
#views-exposed-form-search-default .views-widget-filter-term_node_tid_depth {
	padding-right:0;
/*	margin-top:1px;*/
}
#views-exposed-form-search-default .selector{
	background:transparent;
	padding-left:0;
}
#views-exposed-form-search-default .selector span{
	background-position: -471px -1px;
	text-indent:-9999px;
}
#views-exposed-form-search-default .views-widget-filter-keys {
	padding-right:0;
	line-height:14px;
}
#views-exposed-form-search-default #edit-keys {
	border-left:0;
	padding-left:4px;
	margin:0 -2px;
	width:101px;
	height:14px;
}
#views-exposed-form-search-default #edit-keys::-webkit-input-placeholder,
#views-exposed-form-search-default #edit-keys::-moz-placeholder,
#views-exposed-form-search-default #edit-keys::placeholder {
/*	font-style:italic;*/
}
#views-exposed-form-search-default .views-submit-button .form-submit {
	margin:0;
	border:0;
	width:34px;
	height: 20px;
	text-indent:-9999px;
	background:transparent url('../images/btn/go.jpg') no-repeat left top;
}

/*
#page #top #views-exposed-form-search-default .views-widget-filter-term_node_tid_depth, 
#page #top #views-exposed-form-search-default .views-widget-filter-body {
	margin-top:0;
	padding:0;
}
*/
#page #top .views-exposed-widgets {
	margin-bottom: 0;	
}

#views-exposed-form-search-page-1 .form-text.form-autocomplete {
    background: url("../images/bg/bg-input.jpg") repeat-x scroll left top transparent;
    width: 152px;
}

#views-exposed-form-search-page-1 .views-exposed-widget.views-widget-filter-term_node_tid_depth {
    display: none;
}

/*----- Modal Styles -----*/
.ui-widget-overlay{
	background-color:#fff;
	opacity:0.9;
}
.modalframe .ui-dialog-titlebar-close,
.modalframe .ui-dialog-titlebar a.ui-state-hover,
.modalframe .ui-dialog-titlebar a.ui-state-focus{
	background-image:url('../images/btn/modal-close.png');
	background-position:0 0;
	width:88px;
	height:22px;
}
.modalframe{
	border:none;
	background:none;
}
.modalframe .ui-dialog-titlebar{
	background:none;
	border:none;
}
.modalframe-page-content .view.view-executive-bios .views-row{
	width:735px;
	position:relative;
}
.modalframe-page-content .single-bio .left{
	float:left;
	width:208px;
	margin-right:46px;
}
.modalframe-page-content .single-bio .left img{
	display:inline-block;
	margin-bottom:16px;
}
.modalframe-page-content .single-bio .left a{
	text-indent:-9999px;
	display:inline-block;
	height:41px;
	width:30px;
	margin-right:26px;
	background:transparent url('../images/btn/bio-email.png') no-repeat top left;
}
.modalframe-page-content .single-bio .left .linkedin a{
	width:48px;
	background:transparent url('../images/btn/bio-linkedin.png') no-repeat top left;
}
.modalframe-page-content .single-bio .left .twitter a{
	width:44px;
	background:transparent url('../images/btn/bio-twitter.png') no-repeat top left;
}
.modalframe-page-content .single-bio .right{
	float:left;
	width:330px;
	overflow-y: auto;
	padding-right:10px;
	height:600px;
}
.modalframe-page-content .single-bio .right h1{
	font-size:20px;
	color:#005696;
}
.modalframe-page-content .single-bio .right .job{
	font-style:italic;
}
.modalframe-page-content .single-bio .right p{
	margin-bottom:16px;
}
.modalframe-page-content .pager-previous a{
	position:absolute;
	display:block;
	top:140px;
	left:0;
	background:transparent url('../images/slide/prev.png') no-repeat top left;
	width:30px;
	height:40px;
	text-indent:-9999px;
}
.modalframe-page-content .pager-next a{
	position:absolute;
	display:block;
	top:140px;
	right:0;
	background:transparent url('../images/slide/next.png') no-repeat top left;
	width:50px;
	height:40px;
	text-indent:-9999px;
}
.modalframe-page-content .item-list .pager-current{
	display:none;
}

.modalframe-page-content #media-youtube-1 object {
	position:absolute;
	top:25%;
}
.item-list {
	float:left;
}
.results-info-container {
	float:right;
	margin-top:-10px;
}

.view .results-container-info {
	float: right;
}
.view .search-results {
	margin-top:3px;
	margin-left:12px;
}
.view .view-filters .search-results {
	margin:14px 0 0 15px;
}
.item-list .pager > li {
	float:left;
	padding: 0;
}
.item-list .pager-previous {
	width: 17px;
}
.item-list .pager-current label, .item-list .pager-current .selector {
	float:left;
	margin: 3px;
}
.item-list .pager-current label{
	margin-right:4px;
	width: 50px;
}
.item-list .pager-current.first label{
	margin-left:-3px;
}
.item-list .pager-current {
	margin:-5px -11px 0 -2px;
}
.item-list .pager .pager-current label, 
.view .search-results {
	color:#939393;
	font-size:11px;
	font-weight:normal;
}

.item-list .pager .pager-previous a, .item-list .pager .pager-next a {
	color: #005696;
	font-size: 28px;
	font-weight: 100;
}

.item-list .pager .jquery_dropdown_container,
.item-list .pager div.jquery_dropdown_header {
	float: left;
	width:30px;	
	text-align: left;
}
.item-list .pager .selector {
	width: 43px;
}
.item-list .pager .selector span{
	font-size:10px;
	width: 19px;
}
.view .search-results {
	float:left;
}
/** solutions finder node form page */
.form-item .validated {
	text-indent: 100%;
	overflow:hidden;
	height: 26px;
	width: 26px;
	float:right;
	margin:-24px 20px 0 0;
}
.form-item .check {
	background:transparent url('../images/ico/check.png') no-repeat 0 0;
}
.form-item .not-check {
	background: transparent url('../images/ico/wrong.png') no-repeat 0 2px;
}
#node-form.solution-finder .form-item .validated {
    margin: -1px 8px;
}
#block-solutions_finder-solutions_finder #node-form .step2 .validated {
	margin: -1px 18px;
}
#block-solutions_finder-solutions_finder #node-form .step3 .validated {
	margin: -1px 11px;
}
#node-form #edit-field-solution-newsletter-value-yes-wrapper {
	width: 287px;
}
#block-block-5 ul li {
    background:url("../images/btn/small-bullet.png") no-repeat scroll left 7px transparent;
    list-style: none inside none;
    padding: 4px 0 0 22px;
    
}

/** activate your loan start page styles **/
#node-468 .content strong {
    color: #005696;
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
}

/** employment opportunities **/
#node-294 ul li {
	padding:5px 32px;
}

#node-294 ul {
    margin: 0;
    padding: 6px 0 0 0;
}

#node-294 span strong {
    color: #4c4c4d;
    font-size: 15px;
    font-weight: 500;
}

/** FAQ styles **/
.faq-content a:hover {
    text-decoration: underline;
}
.faq-question.faq-qa-visible a:hover {
    color: #067392;
}

#node-99 .content strong {
    font-family: "alber-new-web","Lucida Grande","Lucida Sans Unicode",sans-serif;
    font-size: 15px;
    color: #4c4c4d;
    font-style: normal;
    font-weight: 500;
}

#block-block-29 .content {
    float: left;
    margin-right: 60px;
}

#node-form div.form-item div.form-checkboxes {
	margin: 0;
}

div.selector {
  background-position: -486px -134px;
  line-height: 26px;
  height: 20px;
  padding-left: 7px;
  border: 1px solid #999;
  width: 411px;
}
div.selector.error {
  border: 1px solid red;
  padding:0 0 0 7px;
}
#top #views-exposed-form-search-default div.selector {
  height: 16px;
  fdsapadding-left: 7px;
  width: 19px;
}
#main-squeeze .view-filters .views-exposed-form div.selector{
	width: 119px;
}
div.selector span {
	background-position: right 0px;
	color:#454545;
	height: 26px;
	line-height: 26px;
	margin-top: -4px;
}
div.selector select{
	min-width:0;
	width:268px;
	/* change these to adjust positioning of select element */
	top: 0px;
	left: 0px;
}
div.selector:active,
div.selector.active {
  background-position: -486px -160px;
}
div.selector:active span,
div.selector.active span {
  background-position: right -26px;
}
div.selector.focus, div.selector.hover, div.selector:hover {
  background-position: -486px -186px;
}
div.selector.focus span, div.selector.hover span, div.selector:hover span {
  background-position: right -52px;
}
div.selector.focus:active,
div.selector.focus.active,
div.selector:hover:active,
div.selector.active:hover {
  background-position: -486px -212px;
}
div.selector.focus:active span,
div.selector:hover:active span,
div.selector.active:hover span,
div.selector.focus.active span {
  background-position: right -78px;
}
div.selector.disabled {
  background-position: -483px -234px;
}
div.selector.disabled span {
  background-position: right -104px;
}

