/* $Id: fusion-starter-lite-style.css,v 1.1.2.1 2010/06/17 07:54:57 sociotech Exp $ */

/* Mobile layout overrides */

html body,
body div.full-width,
body .row {   /* minimum width for page */
}

/* For modern browsers */
.cf:before, .cf:after, 
#footer ul.menu:before, #footer ul.menu:after, 
.benefit:before, .benefit:after {content:""; display:table;}
.cf:after, 
#footer ul.menu:after, 
.benefit:after {clear:both;}
/* For IE 6/7 (trigger hasLayout) */
.cf, 
#footer ul.menu, 
.benefit {zoom:1;}

/* Basic Typography & Colors
-------------------------------------------------------------- */
/* Add general site styling here for typography and background */
body {
	font-size: 100%;   /* also set in fusion_mobile.info: settings[base-font-size] = font-size-14 */
	overflow-x:hidden;
	padding:0;
	margin:0;
	font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-size:12px;
	background: white url("../images/bg/bg-mobile.jpg") no-repeat scroll 0 0;
}
body.front {
	background:none;
}
img {
	max-width: 100%;
	max-height: 100%;
}
/* Default link styles - separate a:visited for a different visited link style */
a, a:visited { color:#005696; text-decoration:none}
a.active { color:#373233; }
li a.active { color:#5f6062; }
a:hover { color:#067392; }
a:focus { outline:thin dotted; }
a:hover, a:active { outline:0; }
p {
	font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	margin:0;
}

h1 {
	font-size: 17px;
	font-weight:normal;
	font-style:italic;
	color:#373233;
}
h1 a{
	color:#5f6062;
}
h1 a:focus,
h1 a:hover{
	color:#5f6062;
	text-decoration:underline;
}
h2, h3 {
	font-size:15px;
	font-weight:normal;
	color:#005696;
}

.block-solution h2, #block-views-nodequeue_6-block h2 {
	font-size:20px;
	font-style:italic;
	margin-bottom:35px;
}

#edit-submit, 
#footer-wrapper #footer .left #block-menu_block-2 ul.menu li.expanded ul.menu li.expanded a, 
#footer-wrapper #footer .left #block-menu_block-2 ul.menu li.expanded ul.menu li.leaf a, 
.learnmore-arrow, 
.tk-alber-new-web, 
button, 
h1, 
h3, 
input, 
select, 
textarea {
	font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif!important;
}

.form-required {
	color: #5F6062;
	float: left;
	font-size: 13px;
}
input.form-text, 
html.js input.form-autocomplete[autocomplete="OFF"] {
	background: url("../images/bg/bg-input.jpg") repeat-x scroll left top transparent;
	border: 1px solid #999999;
	border-radius: 3px 3px 3px 3px;
	color: #666666;
	font-size: 11px;
	font-weight: normal;
	height: 18px;
	outline: 0 none;
	padding: 1px 11px;
}
#node-form .form-item .text, 
.form-text, 
.form-textarea,
html.js .resizable-textarea textarea {
	width: 401px;
}
.form-textarea {
	border:1px solid #999999;
	background:#FDFDFD url(../images/bg/bg-input.jpg) repeat-x left top;
	color:#454545;
	font-size:10px;
	padding:1px 11px;
}
.form-item {
	margin:5px 0;
	width: 435px;
}
#edit-submitted-date-year {
	width:100px;
	float:left;
}
.form-item input.error, .form-item textarea.error, .form-item select.error{
	border-width:1px;
}
label {
	color:#005696;
	font-size:15px;
	
}
.form-item label {
	font-weight:normal;
}
.form-item label.option {
	font-size: 12px;
	color: #373233;
}
.form-checkboxes, .form-radios {
	margin: 0;
}
.italic {
	font-style:italic;
}
.cta-btn, #edit-submit,
#edit-preview,
.view-id-media_newsroom #edit-submit-media-newsroom{
	border:none;
	background: url("../images/btn/cta-btn.png") no-repeat scroll left top transparent;
	display: block;
	height: 22px;
	padding: 1px 10px;
	width: 98px;
	font-size:10px;
	color:#fdfdfd;
	margin:10px 0;
}
.view-id-media_newsroom #edit-submit-media-newsroom{
	margin:6px 0;
}
#edit-preview, 
#edit-previous,
#node-form.affiliate-partnership #edit-submit, 
#node-form.loan-activation #edit-submit {
	margin:25px 22px 10px 0;
}
#node-form.loan-activation fieldset {
	padding:0;
	margin:0;
	border:none;
}
#node-form.loan-activation fieldset legend {
	display:none;
}
ul li {
	margin-top:7px;
	margin-bottom:7px;
	background:url("../images/btn/small-bullet.png") no-repeat scroll left 4px transparent;
	list-style: none inside none;
	padding: 4px 0 0 22px;
}

.validated {
	float:right;
	height:26px;
	width:26px;
	margin: 0 -26px 0 0;
}
#edit-submitted-comments-wrapper .validated {
	margin: -75px -26px 0 0;
}
#node-form.loan-activation .validated {
	margin: -26px -26px 0 0;
}
.validated.check {
	background:url('../images/ico/check.png') no-repeat 0 0 transparent;
}
.validated.not-check {
	background:url('../images/ico/wrong.png') no-repeat 0 0 transparent;
}
/* HTML Elements
-------------------------------------------------------------- */
body {
    width: 100%;
}

body.front #header {
}

/* Site Info
-------------------------------------------------------------- */


/* Regions
-------------------------------------------------------------- */

/* All Regions
-------------------------------------------------------------- */
#header, 
body.not-front #page {
	min-width: 260px;
	margin: 3.571428571428571%;
	width:92.85714285714286%;
}
/* Site info + Header Region
-------------------------------------------------------------- */
.header-group {
}

/* Primary Menu
/-------------------------------------------------------------- */
/* Add general styles for primary menu here, such as typography, borders, floats,
  or spacing above/below */
.primary-menu {
}

.primary-menu ul {
  margin-left: 0;
}

.primary-menu ul li {
  float: none;  /* remove for horizontal menu */
  list-style: none;
  list-style-image: none;
  list-style-type: none;
}

/* Menu items - adjust individual padding/margins here */
.primary-menu ul li a, 
.primary-menu ul li .nolink {
}

/* Link style for menu items */
.primary-menu ul a,
.primary-menu ul a:visited  {
}

.primary-menu ul a:hover,
.primary-menu ul a:active,
.primary-menu ul a:focus {
}

/* Header - Search
-------------------------------------------------------------- */
.search-box {
}

.search-box-inner {
}

.search-box-inner form#search-theme-form {
}

.search-box-inner input#edit-search-theme-form-header {
}

/*  Main Area (content + sidebars)
-------------------------------------------------------------- */
.views_slideshow_singleframe_main {
}
#block-views-nodequeue_2-block_1 {
	left: 0;
	position:absolute;
	text-align:center;
	top: 0px;
	z-index: -1;
	width: 100%;
	overflow: hidden;
}
#block-views-nodequeue_2-block_1 span.field-content {
	display:block;
	overflow:hidden;
}
#block-views-nodequeue_2-block_1 #views_slideshow_singleframe_teaser_section_nodequeue_2-block_1 {
	margin:0 auto;
}
#block-views-nodequeue_2-block_1 #views_slideshow_singleframe_teaser_section_nodequeue_2-block_1 .views-field-body {
	display:none;
}
#block-views-nodequeue_2-block_1 .views-slideshow-controls-bottom {
	position: relative;
	top: -244px;
	z-index:20;
	display: inline-block;
}
#block-views-nodequeue_2-block_1 .views-slideshow-controls-bottom .views_slideshow_previous,
#block-views-nodequeue_2-block_1 .views-slideshow-controls-bottom .views_slideshow_next,
#block-views-nodequeue_2-block_1 .views-slideshow-controls-bottom .views_slideshow_singleframe_pager .pager-item a {
	background:transparent url('../images/slide/pager.png') no-repeat 0 0;
	display:block;
	width:30px;
	height:40px;
	overflow:hidden;
	float:left;
	text-indent:200px;
}
#block-views-nodequeue_2-block_1 .views-slideshow-controls-bottom .views_slideshow_previous {
	background-position: 0px 0;
}
#block-views-nodequeue_2-block_1 .views-slideshow-controls-bottom .views_slideshow_next {
	background-position: -170px 0;
}
#block-views-nodequeue_2-block_1 .views-slideshow-controls-bottom #views_slideshow_singleframe_playpause_nodequeue_2-block_1 {
	display:none;
}
#block-views-nodequeue_2-block_1 .views-slideshow-controls-bottom .views_slideshow_singleframe_pager {
	float:left;
}
#block-views-nodequeue_2-block_1 .views-slideshow-controls-bottom .views_slideshow_singleframe_pager .pager-item {
	float:left;
	padding:0;
}
#block-views-nodequeue_2-block_1 .views-slideshow-controls-bottom .views_slideshow_singleframe_pager .pager-item a {
	background-position: -84px 0;
}
#block-views-nodequeue_2-block_1 .views-slideshow-controls-bottom .views_slideshow_singleframe_pager .pager-item.activeSlide a {
	background-position: -48px 0;
}

#block-views-nodequeue_2-block_1 #views_slideshow_singleframe_teaser_section_nodequeue_2-block_1 .views-field-body h2,
#block-views-nodequeue_2-block_1 #views_slideshow_singleframe_teaser_section_nodequeue_2-block_1 .views-field-body h2 a{
	color:#373233;
	font-size:30px;
	font-style:italic;
	margin-bottom:15px;
}

#block-views-nodequeue_2-block_1 #views_slideshow_singleframe_teaser_section_nodequeue_2-block_1 .views-field-body .cta {
	margin-top:25px;
}

#block-views-nodequeue_2-block_1 #views_slideshow_singleframe_teaser_section_nodequeue_2-block_1 .views-field-body .learnmore {
	float:left;
	margin-right:25px;
	display:block;
	width:151px;
	height:34px;
	overflow:hidden;
	text-indent:-9999px;
	background:transparent url('../images/btn/learnmore-btn.png') no-repeat left top;
}

#page .views_slideshow_main .views_slideshow_slide .views-field-field-background-fid img {
	max-height: 570px;
	max-width: 821px;
}
#block-block-25{
	margin-top: 337px;
}
#block-block-25 ul.mobile-cta {
	padding:0;
}
#block-block-25 ul.mobile-cta li {
	background: url("../images/border/home-li-bg.png") repeat-x scroll 0 -20px transparent;
	list-style: none outside none;
	padding:0;
	margin:0;
	text-align:center;
}
#block-block-25 ul.mobile-cta li.click {
	background-position:0 0;
	text-align:left;
}
#block-block-25 ul.mobile-cta li.click a {
	background: url("../images/border/home-arrow.png") no-repeat scroll right 0 transparent;
	display: block;
	padding: 40px 10px 15px;
	margin-top: -20px;
	color:#5f6062;
	font-size:16px;
	font-style:italic;
}
#block-block-25 ul.mobile-cta li div.to-center {
	display:inline-block;
}
#block-block-25 ul.mobile-cta li ul.quicklinks {
	padding:10px 0 0;
	height:80px;
}
#block-block-25 ul.mobile-cta li ul li {
	background: url('../images/border/homebtn-divider.png') no-repeat right center transparent;
	display:block;
	float:left;
	margin: 0 0 0 20px;
	padding: 0 20px 0 0;
}
#block-block-25 ul.mobile-cta li ul li.last {
	background: none;
}
#block-block-23 {
	padding-bottom: 12px;
}
#block-block-23 ul {
	margin: 0;
	padding: 0;
}
#block-block-7,
#block-block-34 {
	background: url('../images/border/divider.png') no-repeat top center transparent;
	padding: 2px 0 12px;
}
#block-block-34 div.to-center {
    text-align: center;
}
#block-block-34 ul {
	margin: 31px auto 0;
	padding:0;
	display: inline-block;
}
#block-block-34 ul li {
	background: none;
	display: block;
	float: left;
	padding: 0;
	margin: 0 15px;
}
#block-block-34 ul li a {
	display: block;
}
#block-block-34 ul li a img {
    height: 151px;
    width: 192px;
}
/* ==|== Benefit & Advantages styles ======================================== */
#block-views-benefits-block_1 {
	margin-bottom: 40px;
}
body.not-front .views-row {
	margin-top: 20px;
}
.benefit .left {
	float:left;
	width:20%;
	margin-right: 5%;
}
.benefit .right {
	float:left;
	width: 75%;
}
.benefit .right h2 {
	margin:0 0 9px;
	font-size: 18px;
	font-style:italic;
}

/* ==|== Solution form styles ======================================== */
#node-form.solution-finder .form-item {
	width:385px;
}
#node-form.solution-finder .form-item .text{
	width: 351px;
}
#node-form.solution-finder {
	background: url('../images/border/divider.png') no-repeat bottom center transparent;
	padding: 0 0 15px;
}
#edit-field-solution-profession-value-wrapper {
	background:url("../images/bg/1.png") no-repeat scroll 0 center transparent;
	padding:16px 50px;
}
#edit-field-solution-amount-value-wrapper {
	background:url("../images/bg/2.png") no-repeat scroll 0 center transparent;
	padding:16px 50px;
}
#edit-field-solution-timeframe-value-wrapper {
	background:url("../images/bg/3.png") no-repeat scroll 0 center transparent;
	padding:16px 50px;
}
#edit-field-solution-funds-value-wrapper {
	background:url("../images/bg/4.png") no-repeat scroll 0 center transparent;
	padding:16px 50px;
}
#edit-field-solution-email-0-email-wrapper {
	background:url("../images/bg/5.png") no-repeat scroll 0 center transparent;
	padding:16px 50px;
}
#edit-field-solution-email-0-email-wrapper .validated {
	margin-top:-26px;
}
#edit-field-solution-email-0-email-wrapper .validated.not-check {
	margin-top: -21px;
}
#node-form.solution-finder div.selector span {
	width: 340px;
}
#node-form.solution-finder div.selector select {
	width: 373px;
}
#node-form.solution-finder #edit-field-solution-newsletter-value-yes-wrapper {
	width: 478px;
}
#node-form.solution-finder #edit-submit {
	margin-bottom: 0;
}
#block-block-5 ul li {
	margin-top:7px;
	margin-bottom:7px;
	background:url("../images/btn/small-bullet.png") no-repeat scroll left 4px transparent;
	list-style: none inside none;
	padding: 4px 0 0 22px;
}
.learnmore-arrow{
	color:#0f5f88;
	font-size:12px;
	background:transparent url('../images/ico/left-arrow.jpg') no-repeat center right;
	padding-right:16px;
}
#block-block-23 .learnmore-arrow{
	display: none;
}

/* ==|== Activate a loan form styles ======================================== */
div.loan-activation-complete, #node-form.loan-activation > div {
    margin-top: -19px;
    padding-top: 39px;
}
div.loan-activation-complete div, 
#node-form.loan-activation > div > div.node-form {
	background: url('../images/border/divider.png') no-repeat top center transparent;
	min-height:1px;
}
#node-form.loan-activation-step-1 > div {
	background: url('../images/progress/progress_step1.png') no-repeat top center transparent;
}
#node-form.loan-activation-step-2 > div {
	background: url('../images/progress/progress_step2.png') no-repeat top center transparent;
}
#node-form.loan-activation-step-3 > div {
	background: url('../images/progress/progress_step3.png') no-repeat top center transparent;
}
div.loan-activation-complete, 
#node-form.loan-activation-step-4 > div {
	background: url('../images/progress/progress_step4.png') no-repeat top center transparent;
}

/* Content Regions
-------------------------------------------------------------- */
.content {
}

/*  Footer Region
-------------------------------------------------------------- */
#footer {
	background:url("../images/bg/footer.png") repeat-x scroll left top transparent;
	font-size:10px;
	text-align: center;
}
#footer ul {
	margin:0 auto;
	padding:0;
}
#footer ul.menu {
	display: inline-block;
}
#footer ul li{
	background:none;
	display:block;
	float:left;
	margin:0;
	padding: 5px 0;
}
#footer ul li a{
	color:#000;
	border-left:1px solid #000;	
	display: block;
	margin:0;
	padding: 0 7px!important;
}
#footer ul li.first a{
	border-left:none;
}

/* Page titles
/-------------------------------------------------------------- */
/* Page and full node titles */
h1.title {
	background:transparent url(../images/bg/softgrad.png) no-repeat center bottom;
	margin: 15px 0;
	width:100%;
	line-height: normal;
	padding-bottom: 15px;
}

/* Default node styles
/-------------------------------------------------------------- */
/* Change unpublished and preview colors for dark background themes */
.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}

/* Typography for node titles */
h2.title {
}

/* Colors and styles for linked node titles, ie. teaser listing at /node */
h2.title a:link,
h2.title a:visited {
}

h2.title a:hover,
h2.title a:focus,
h2.title a:active {
}

/* Separators and padding for node teasers */
.teaser {
}

/* Author/date info */
.meta {
}

.submitted {
}

/* Links for nodes (taxonomy, commenting, read more, etc) */
.node ul.links li {
}
.node ul.links a {
}

/* Only more/read more links */
div.node .read-more a,
div.node .more-link a {
}

/* Drupal Messages
/-------------------------------------------------------------- */
/* General style for all errors/messages (border, padding, etc.) */
div.content-messages div.messages,
div.content-help div.help {
}

/* Status messages: green */
div.content-messages-inner div.status {
}

/* Warning messages: yellow */
div.content-messages-inner div.warning {
}

/* Error messages: red */
div.content-messages-inner div.error {
}

/* Help messages: blue */
div.content-help-inner div.help {
}

/* Error that appears when a required form field is not filled out */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #aa1144;
}
.cta-btn, #edit-submit,
#edit-preview,
.view-id-media_newsroom #edit-submit-media-newsroom{
	border:none;
	background: url("../images/btn/cta-btn.png") no-repeat scroll left top transparent;
	display: block;
	height: 22px;
	padding: 0 10px 0 0;
	width: 98px;
	font-size: 10px;
	color:#fdfdfd;
	margin:10px 0;
}
.view-id-media_newsroom #edit-submit-media-newsroom{
	margin:6px 0;
}
#edit-preview,
#edit-submit{
	margin: 5px 0 40px 328px;
}
#edit-preview, 
#edit-previous,
#node-form.loan-activation #edit-submit {
	margin:25px 22px 10px 0;
}
#edit-previous{
	background: url("../images/btn/submit-btn.png") no-repeat scroll left top transparent;
	padding: 0;
	width: 96px;
	height: 22px;
	color: #fdfdfd;
	font-size: 10px;
	border: none;
	margin: 10px 0 30px 219px;
}
form.loan-activation#node-form #edit-submit {
	margin: 10px 70px 0 0;
	float: right;
}
form.loan-activation#node-form.loan-activation-step-1 #edit-submit {
	margin: 10px 0 30px 327px;
	float: none;
}
#edit-field-loan-referral-0-value-wrapper {
	display:none;
}

/* Default block title styles
/-------------------------------------------------------------- */
h2.block-title {
}

/* Breadcrumbs
-------------------------------------------------------------- */
.breadcrumbs {
}

.breadcrumbs a:link,
.breadcrumbs a:visited {
}

/* Pagers
-------------------------------------------------------------- */
ul.pager {
}

ul.pager li {
}

ul.pager a,
ul.pager li.pager-current {
  border-color: #333;
}

ul.pager li.pager-current {
  background-color: #777;
  color: #fff;
}

ul.pager a:hover,
ul.pager a:active,
ul.pager a:focus {
  background-color: #777;
  border-color: #333;
  color: #fff;
}

/* Forms
/-------------------------------------------------------------- */
/* Typography and backgrounds for all form buttons */
form input.form-submit {
  margin: 2px;
  padding: 3px 5px;
}

/* Hover style for form buttons */
form input.form-submit:hover,
form input.form-submit.hover,
form input.form-submit:focus {
}

/* Typography, background, borders, padding for form fields */
.form-item input,
.form-item select,
.form-item textarea {
}

/* Remove backgrounds and border on radios and checkboxes */
.form-item .form-radio,
.form-item .form-checkbox {
  background: none;
  border: none !important;
}
.webform-container-inline div, .webform-container-inline div.form-item {
	display:block;
}
.webform-container-inline .form-item .selector {
	display:inline-block;
	margin:-7px 0 0 -2px;
}

.selector span{
	width:auto;
	position:relative;
}
div.selector{
	width:auto;
}
div.selector span {
	width: 390px;
}
div.selector select {
	width: 423px;
	margin: 3px 0 0 2px;
	height: 22px;
	min-width: 0;
}
#webform-client-form-3 .webform-container-inline label {
	display:inline;	
}
#webform-client-form-3 #edit-actions{
	margin-top: 101px;
}

#webform-client-form-3 #edit-submitted-time-wrapper select {
	margin:3px 0 0 3px;
}
#webform-component-time .form-item,
#webform-component-time-of-day .form-item,
#webform-component-date .form-item,
#webform-component-phone-1 .form-item,
#webform-component-phone-2 .form-item,
#webform-component-phone-3 .form-item,
#webform-component-phone-type .form-item {
	width: auto;
}
#webform-component-time,
#webform-component-time .selector span,
#webform-component-time-of-day,
#webform-component-time-of-day .selector span,
#webform-component-date,
#webform-component-date .selector span,
#webform-component-phone-1,
#webform-component-phone-2,
#webform-component-phone-3,
#webform-component-phone-type,
#webform-component-phone-type .selector span{
	display:inline-block;
}
#webform-component-time .selector span{
	width:31px;
}
#webform-component-time,
#webform-component-time-of-day{
	margin-right:12px;
}
#webform-client-form-3 #webform-component-time {
	float: left;
	margin-top: 19px;
}
#webform-component-time-of-day{
	 float: left;
	 margin-top: 14px;
}
#webform-client-form-3 #webform-component-time .selector {
	margin-left:22px;
}
#uniform-edit-submitted-time{
	display:inline-block;
}
#webform-component-time-of-day .selector span{
	width:18px;
}
#webform-component-date{
	float: left;
	margin-top: 3px;
	width: 222px;
}
#webform-component-date .validated {
	margin-top: 13px;
}
#webform-component-date input{
	float: left;
	margin-top: 14px;
	text-align:center;
	width: 86px;
}
#webform-component-phone-1 input,
#webform-component-phone-2 input,
#webform-component-phone-3 input {
	width: 30px;
	margin:0 5px 0 11px;
	padding: 1px 8px;
	text-align: center;
}
#webform-component-phone-1 input {
	margin-left: 15px;
}
#webform-component-phone-3 input{
	margin-right:4px;
}
#webform-component-phone-2::before,
#webform-component-phone-3::before{
	content: "-";
	float:left;
	height:0px;
	padding-top:5px;
}

#webform-component-phone-type {
	width:auto;
	margin:0 5px 0 11px;
}
#webform-component-phone-type .form-item{
	width: 176px;
}
#webform-component-phone-type .selector span{
	width: 37px;
}
#webform-component-phone-type .selector select{
	width: 70px;
}
#webform-component-phone-1,
#webform-component-phone-2,
#webform-component-phone-3{
	margin-top: 7px;
}
#webform-component-phone-1,
#webform-component-phone-2,
#webform-component-phone-3,
#webform-component-phone-type{
	float:left;
}
#webform-component-phone-type{
	margin-top: 9px;
	vertical-align:middle;
}
#edit-submitted-phone-type-wrapper{
	float:none;
	margin:0;
}
.webform-component {
	margin-top:25px;
}
#edit-actions {
	padding-top:14px;
}
.ui-datepicker-trigger{
	border:none;
	background-color:transparent;
	display:inline-block;
	margin-left:8px;
	margin-top: 9px;
}

/* Fieldset wrapper around groups of form elements -- add border here */
fieldset {
}

/* Typography and spacing for legend of fieldsets */
fieldset legend {
}

/* Link style for legend of fieldsets */
fieldset legend,
legend.collapse-processed,
legend.collapse-processed a:link,
legend.collapse-processed a:visited {
}

/* Custom icons on (open) collapsible fieldsets */
html.js fieldset.collapsible legend a:link,
html.js fieldset.collapsible legend a:visited {
}

/* Custom icons on (closed) collapsible fieldsets */
html.js fieldset.collapsed legend a:link,
html.js fieldset.collapsed legend a:visited {
}


/* Tables
-------------------------------------------------------------- */
table {
}

/* Body of tables */
tbody {
  border-top: 1px solid #ccc;
}

/* Header of tables */
thead th,
th {
  border-bottom: 3px solid #ccc;
}

tbody th {
  border-bottom: 1px solid #ccc;
}

/* Alternating row background styles */
tr.even,
tr.even td {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}

tr.odd,
tr.odd td {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

td.active {
}

tr.drag td,
tr.drag-previous td {
  color: #000;
}

/*--- RESPONSIVE ---*/
@media(max-width:680px){
	body {
		background-position: -200px -100px;
	}
	#page{
	}
	#page img{
	}
	#block-views-nodequeue_2-block_1 #views_slideshow_singleframe_teaser_section_nodequeue_2-block_1 .views-field-field-background-fid {
		margin:0 0 0 -100px;
	}
	#block-views-nodequeue_2-block_1 {
	}
}
@media(max-width:479px){
	body {
		background-position: -340px -160px;
	}
	#page img{
	}
	.form-item {
		width: 270px;
	}
	#node-form.solution-finder .form-item {
		width: 221px;
	}
	div.selector span {
		width: 218px;
	}
	div.selector select {
		width: 251px;
	}
	#node-form.solution-finder div.selector span {
		width: 168px;
	}
	#node-form.solution-finder div.selector select {
		width: 201px;
	}
	#block-views-nodequeue_2-block_1 #views_slideshow_singleframe_teaser_section_nodequeue_2-block_1 .views-field-field-background-fid {
		margin:0 0 0 -132px;
	}
	#block-block-25 ul.mobile-cta li ul li {
		margin: 0 0 0 5px;
		padding: 0 5px 0 0;
	}
	#node-form.solution-finder .form-item .text{
		width: 179px;
	}
	#node-form .form-item .text, 
	.form-text, 
	.form-textarea,
	html.js .resizable-textarea textarea {
		width: 228px;
	}
	#node-form.solution-finder #edit-field-solution-newsletter-value-yes-wrapper {
		width: 250px;
	}
	form.loan-activation#node-form.loan-activation-step-1 #edit-submit {
		float: none;
		margin: 10px 0 30px 154px;
	}
	form.loan-activation#node-form #edit-submit {
		margin: 10px 43px 0 0;
	}
	form.loan-activation#node-form #edit-previous {
		margin: 10px 0 30px 45px;
	}
	#webform-component-time,
	#webform-component-time-of-day{
		margin-right:8px;
	}
	#webform-component-date{
		margin-top:0;
		margin-left: 69px;
		width: 201px;
	}
	#webform-component-date input{
		margin-top: 12px;
		width: 103px;
	}
	.ui-datepicker-trigger{
		margin-top: 7px;
	}
	#webform-component-phone-1,
	#webform-component-phone-2,
	#webform-component-phone-3{
		margin-top: 6px;
	}
	#webform-component-phone-type {
		margin:16px 5px 0 67px;
	}
	#webform-component-phone-type .form-item {
		width:201px;
	}
	#webform-component-phone-type .selector span{
		width: 143px;
	}
	#webform-component-phone-type .selector select{
		width: 176px;
	}
	#webform-client-form-3 #edit-actions{
		margin-top: 257px;
	}
	#edit-preview,
	#edit-submit{
		margin: 5px 0 40px 148px;
	}
	#block-block-34 ul li a img {
		height: 93px;
		width: 118px;
	}
	#footer ul li a{
		padding:5px 3px;
	}
}
