#block-solutions_finder-solutions_finder {
	overflow:hidden;
}
#block-solutions_finder-solutions_finder #node-form.solution-finder .step1 .selector span{
	width:136px;
}
#block-solutions_finder-solutions_finder #node-form.solution-finder .step1 .selector select{
	width: 169px;
}
#block-solutions_finder-solutions_finder .step1 #edit-field-solution-profession-value-wrapper .validated{
	margin:0 0 0 6px;
}
#block-solutions_finder-solutions_finder.full {
	z-index:10000;
	width:1069px;
}
#block-solutions_finder-solutions_finder #edit-field-solution-profession-value-wrapper{
	width:180px;
	margin-top:0;
}
#block-solutions_finder-solutions_finder #node-form.solution-finder #uniform-edit-field-solution-profession-value.selector {
	width:160px;
	display:inline-block;
	float:none;
}
#block-solutions_finder-solutions_finder #node-form .form-required, #block-solutions_finder-solutions_finder #node-form fieldset {
	display:none;
}
#block-solutions_finder-solutions_finder .content {
	background: transparent url('img/solution-bgarrow.png') no-repeat 8px 0px;
}

#block-solutions_finder-solutions_finder .faded > * {
	opacity:0.4;
	filter:alpha(opacity = 40);
}

#block-solutions_finder-solutions_finder h2 {
	font-size:16px;
	margin: 10px 0 22px 0;
}
#block-solutions_finder-solutions_finder h3 {
	color:#fff;
	font-size:13px;
	font-style:italic;
	width:170px;
	margin: 15px 0 0 0;
}
#block-solutions_finder-solutions_finder #node-form .jquery_dropdown_container {
	width:200px;
	float:left;
}
#block-solutions_finder-solutions_finder #node-form .form-item .jquery_dropdown_header {
	width:175px;
}
#block-solutions_finder-solutions_finder #node-form .jquery_dropdown_container ul {
	width:198px;
}
#block-solutions_finder-solutions_finder #node-form .validated {
	text-indent:1000px;
	height:26px;
	width:26px;
	margin:-11px 8px;
	display:inline-block;
}
#block-solutions_finder-solutions_finder #node-form .check {
	background:transparent url('img/check.png') no-repeat 0 0;
}
#block-solutions_finder-solutions_finder #node-form .step1 {
	float:left;
	width: 221px;
	height: 230px;
	background: transparent url('/sites/all/themes/bhg/images/bg/homepage-step-1.jpg') no-repeat top left;
	padding-left: 16px;
}
#block-solutions_finder-solutions_finder #node-form .step1 h2{
	color:#fff;
}
#block-solutions_finder-solutions_finder #node-form .step1 > div {
	padding-top:31px;
}
#block-solutions_finder-solutions_finder #node-form .step1 label {
	color:#fecf06;
	font-size:16px;
	font-style:italic;
	margin-bottom:5px;
}
/*#block-solutions_finder-solutions_finder ul {
	margin:0;
	padding:0;
}
#block-solutions_finder-solutions_finder li.profession {
	list-style:none;
}
#block-solutions_finder-solutions_finder li.profession a {
	display:block;
	float:left;
	clear:both;
	padding-right:16px;
	color:#fff;
}
#block-solutions_finder-solutions_finder li.profession a:hover, #block-solutions_finder-solutions_finder li.profession a.active {
	color:#ffc605;
	background:transparent url('img/arrow.png') no-repeat right center;
}*/

#block-solutions_finder-solutions_finder #node-form .step2 {
	float:left;
	width: 390px;
	background: transparent url('img/solution-bgarrow.png') no-repeat 152px 0;
	/*background:transparent url('img/step2.png') no-repeat 0 1px;*/
;
	height: 230px;
}
#block-solutions_finder-solutions_finder #node-form .step2 .form-item {
	clear:left;
	margin: 0px 0 11px 24px;
	width:auto;
}
#block-solutions_finder-solutions_finder #node-form .step2 .form-item > label {
	padding: 0px 0 0px;
	font-size: 11px;
}
#block-solutions_finder-solutions_finder #node-form .step2 .jquery_dropdown_container {
	width:200px;
	float:left;
}
#block-solutions_finder-solutions_finder #node-form .step2 .jquery_dropdown_header {
	width:auto;
}
#block-solutions_finder-solutions_finder #node-form .step2 .jquery_dropdown_container ul {
	width:198px;
}

#block-solutions_finder-solutions_finder #node-form .step3 {
	float:left;
	width: 290px;
	/*background:transparent url('img/step3.png') no-repeat 0 1px;*/
;
	height: 230px;
}
#block-solutions_finder-solutions_finder #node-form .step3 .form-item {
	width: 252px;
	margin: 0;
}
#block-solutions_finder-solutions_finder #node-form .step3 > .form-item {
	padding-left: 29px;
	margin-top: 12px;
}
#block-solutions_finder-solutions_finder #node-form .step3 #edit-reset{
	margin: 16px 0 0 20px;
}
#block-solutions_finder-solutions_finder #node-form .step3 .form-item > label {
	display:none;
}
#block-solutions_finder-solutions_finder #node-form .step3 .form-item .form-checkboxes {
	margin:0;
}
#block-solutions_finder-solutions_finder #node-form #edit-field-solution-email-0-email-wrapper {
	height:69px;
}
#block-solutions_finder-solutions_finder #node-form #edit-field-solution-email-0-email-wrapper label {
	display:block;
	padding:0 0 0 50px;
	background:transparent url('img/doc-check.png') no-repeat left center;
	font-size: 11px;
	height: 45px;
	line-height: 17px;
}
#block-solutions_finder-solutions_finder #node-form #edit-field-solution-email-0-email {
	float:left;
	width: 177px;
}
#block-solutions_finder-solutions_finder #node-form #edit-field-solution-email-0-email-wrapper #check-email {
	background: transparent url('img/wrong.png');
	height: 20px;
	width: 20px;
	float:left;
	margin-left: 8px;
}
#block-solutions_finder-solutions_finder #node-form #edit-field-solution-email-0-email-wrapper #check-email.good {
	background:transparent url('img/check.png') no-repeat 0 0;
}
#block-solutions_finder-solutions_finder #node-form #edit-field-solution-newsletter-value-yes-wrapper label {
	display:block;
	color:#5d5e60;
	font-size: 10px;
	padding-left: 20px;
	line-height: 13px;
	margin-top: 5px;
}
#block-solutions_finder-solutions_finder #node-form #edit-field-solution-newsletter-value-yes-wrapper label input {
	margin-left:-15px;
	padding-top: -11px;
}
#block-solutions_finder-solutions_finder #node-form #edit-reset {
	clear:left;
	width:auto;
	opacity:1;
	filter:alpha(opacity = 100);
}
#block-solutions_finder-solutions_finder #node-form #edit-reset-1000 {
	border:none;
	background:transparent url("img/cancel.png") no-repeat 0 0;
	height:22px;
	width:98px;
	text-indent:-1000px;
	margin:0;
	opacity:1;
	filter:alpha(opacity = 100);
}
#block-solutions_finder-solutions_finder #node-form #edit-submit {
	display:inline;
	margin: 16px 0 0 3px;
	background:transparent url("img/view-info.png") no-repeat 0 0;
	text-indent:-1000px;
	height:22px;
	width:140px;
}
